
/* Supprimer toutes les marges de toutes les balises */
*{
	margin: 0;
	padding: 0;
	border: solid orange 0px;
}

/* Configurer l'utilisation des 'rem' => 1 rem = 10 px */
html{ font-size: 62.5%; }  /* => associé à body{ font-size: 1.5rem; } */

/* img = 100% de la largeur du parent */
img{
	width: 100%; /* avant c'était 'max-width', mais j'ai l'impression que 'width' tout court est plus logique ... */
}

/* plans fournis par Google maps */
#iPdGplan iframe,
#iContactPlan iframe{
	width: 100%;
	height: 50%;
}

body{
 	text-align: center;/* étant donné que le texte est majoritairement centré dans tout le doc */
 	max-width: 95rem;
 	margin: auto;
}

/* Visiblement, le font-family du body n'est pas pris en compte dans le textarea, */
/* et de plus, la taille n'est pas bonne pour les input ...                       */
/* (cf autre fichier CSS pour les polices et les couleurs) */
.cChampForm input, .cChampForm textarea{
	font-size: 1em;
}

body, h2, p.cJour{
	font-size: 1.7rem; /* taille par défaut de toutes les polices + les h2 et les p.cJour */
	/* 		horaires.php : 																								*/
	/* on utilise le p.cJour pour chaque jour de la semaine, il FAUT donc qu'il ait la même taille que celle du body 	*/
	/* sinon, le trait de l'heure se décale vers le haut, les jours sont écrits plus gros ... bref c'est la merde ! 	*/
}
/* icône du clicIndex */
/* on l'exprime en 'rem' pour qu'elle ait la même taille à tous les endroits où             */
/* l'on s'en sert (bandeau du haut, contact, mode d'emploi de prepaOrdo ...)                */
/* cette classe ne sert d'ailleurs QUE pour définir la taille de l'icône dans tout le site. */
/* pour ce qui est de sa position, il ne faudrait surtout pas utiliser cette classe, étant  */
/* donné qu'il peut y avoir plusieurs fois cette icône dans la page ...                      */
.cClicIndexTaille{
	width: 3.2rem;
}
h1{
	font-size: 4.5rem; /* bandeau : titre 'Nom de la pharmacie' */
}
h1+strong{
	font-size: 3rem; /* bandeau : sous-titre 'adresse ...' */
}
#iTelBandeau{
	font-size: 3.5rem; /* bandeau : sous-titre 'numéro de tel cliquable' */
}
#iIndex article h3{
	font-size: 2.5rem; /* index, titres des vignettes */
}
.fa-phone, .fa-fax, .fa-envelope{
	font-size: 2rem; /* contact, taille des icônes font-awesome : tel, fax et mail */
}
#iGammesProd article h3{
	font-size: 3.5rem; /* gammesProduits, titres des photos § */
}
sup, sub{
	font-size: .7em; /* contact, ordo, comm et inscrip : 'saisie obligatoire' et 'mess. d'erreurs' */
}
#iHumour p:last-of-type{
	font-size: 1.4rem;   /* humour, 'Merci à ...' */
}
.cSectionContour{
	padding: 5% 2% 0; /* espace autour des sections principales du site */
}
/* affichés ou pas (validation W3C / braille), les titres */
/* de toutes les sections ont un peu de marge dessous     */
.cSectionContour h2{
	padding-bottom: 5.8%;
}
/* on utilise cette classe pour que des phrases, constituées de plusieurs balises, soient bien sur une seule ligne. */
/* (ex. <p class='cIL'>Le </p><h2 class='cIL'>ciel </h2><p class='cIL'>est bleu.</p>) */
.cIL{
	display: inline;
}

/***************************************************************************************************************************************/
/***************************************************         bandeau du haut         ***************************************************/
/***************************************************************************************************************************************/
/* lien anti-aspiration du site */
#iPiegeAA{
	height: 0.1rem;
	display: none;
}
#iPiegeAA img{
	width: 0.1rem;
	height: 0.1rem;
	border: 0;
	margin: auto;
}

/* Image de fond */
header section{
	background-image: url('../img/bandeau/fond.jpg'), url('../img/bandeau/fond_light.jpg');
	/* Les navigateurs chargeront en premier les images spécifiées en fin de ligne (fond_light.jpg)
	   et chargeront ensuite vers la gauche (fond.jpg). */
	background-size: cover;
	background-position: left; /* ça permet d'ajuster légèrement la position de l'image dans le bandeau */
	margin: auto;
	padding-top: 15%;
	padding-bottom: 15%;
	position: relative; /* pour positionner le h1, le h1+strong, l'icône clicIndex et la croix en haut à gauche */
}

/* Image de la croix positionnée en haut à gauche */
#iLogoCroix{
	width: 11%;
	position: absolute;
	top: 5%;
	left: 2%;
	display: none;  /* pas de croix en version mobile car pas assez de place */
}

/* titre + sous-titre + tel bandeau du haut */
h1, h1+strong, #iTelBandeau{
	position: absolute;
}
/* titre : Pharmacie ... */
h1{
	top: 0.5rem;
	left: 7%;
}
/* sous-titre : adresse ... */
h1+strong{
	top: 44%;
	left: 19%;
}

/* numéro de téléphone cliquable */
#iTelBandeau{
	top: 58%;
	left: 45%;
}
/* icône du clicIndex dans le bandeau */
#iTelBandeau img{
	position: absolute; /* visiblement, si on a le contenant (#iTelBandeau) en absolute,     */
	top: 1.8rem;        /* et le contenu (#iTelBandeau img) en absolute, ça marche aussi !   */
	/* on ne met volontairement pas de left, comme ça ça se cale à la suite du texte !       */
	/* (et si on a besoin de décaler un peu plus vers la droite, on met des &nbsp; en HTML)  */
	/* l'avantage de tout ça, c'est que l'icône est 'collée' au texte, quelle que soit la    */
	/* taille de lécran ! :)                                                                 */
}

/***********************************************************************************************/
/********************************       menu de navigation       *******************************/
/***********************************************************************************************/
nav#iNavigation{
	text-align: right;
	padding: 0.5rem;
	position: sticky;
	top: 0;
}
#iNavigation ul{
	margin:	auto;
	position: relative; /* à cause du 'first li' */
}
#iNavigation li{
	display: inline-block;
	margin-right: 0rem;
	padding-left: .4rem;
}
#iNavigation li:first-child{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0; /* Bien qu'il y ait un 'left 0' juste au dessus, ça semble nécessaire ... */
	padding-left: 0;
}

/***********************************************************************************************/
/**********************                bandeau de connexion               **********************/
/***********************************************************************************************/
#iBandeauConnex{
	width: 96%;
	padding: 0 2%;
}
#iClientConnecte{
	display: inline-block;
	width: 65%;
	text-align: left;
}
#iLienConnex{
	display: inline-block;
	width: 34%;
	text-align: right;
}

/***************************************************************************************************************************************/
/*******************************************          pages connexion et inscription         *******************************************/
/***************************************************************************************************************************************/
/* la petite ligne de séparation avec le § sur l'inscription     */
/* est codée dans la partie 'page contact' ci-dessous            */

/* on met un peu d'espace au-dessus du lien 'inscription'        */
#iConnexionInscription p:nth-of-type(2){
	padding-bottom: 5%;
}

/***************************************************************************************************************************************/
/****************************************************           page index          ****************************************************/
/***************************************************************************************************************************************/
.cSectionContour#iIndex{
	padding-left: 0;
	padding-right: 0;     /* pour annuler, exceptionnellement, les paddings de .cSectionContour */
}
#iIndex p:first-child{
	padding-bottom: 5.8%; /* 'la pharmacie est actuellement ...' */
}
#iIndex article{
	position: relative; /* pour que les <a> et les <img> soient superposés */
}
#iIndex article a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* si jamais le nom de la vignette ne tient pas sur une seule ligne,  */
	/* on peut régler la hauteur de l'interligne :   line-height: 1.4em;  */
	opacity: 0;
}

/* NB : il faut respecter cet ordre de déclaration : link > visited > hover > focus > active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
#iIndex article a:hover, #iIndex article a:focus, #iIndex article a:active{
	opacity: .85;
}

#iIndex article h3{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* pour Chrome */
	   -moz-transform: translate(-50%, -50%); /* pour Firefox */
			transform: translate(-50%, -50%);
	width: 100%;
}

/* pour supprimer l'espace de qqs pixels sous l'image */
/* alsacreations.com/astuce/lire/52-espaces-sous-les-images.html */
#iIndex article img{
	display: block;
}


/***************************************************************************************************************************************/
/****************************************************          page contact          ***************************************************/
/***************************************************************************************************************************************/

/**************     sections informations pratiques + plan     *************/

#iContactInfosPratiques p, #iContactPlan p{
	text-align: justify;
	padding: 1% 0;
}

/************     coordonnées et liens vers réseaux sociaux     ************/

/* page contact et page connexion :         */
/* petit trait horizontal au dessus du §    */
/* (en version mobile uniquement !)         */
#iContactCoordonnees:before, #iContactPlan:before, #iContactFormulaire:before, #iConnexionInscription:before{
	content: '';
	display: block;
	height: .2rem;
	width: 4rem;
	margin: 0 auto 2rem;
}
/* marge au dessus du n° de tel (ie en dessous de '35290 Gaël') */
#iContactTel{
	padding-top: 1rem;
}
/* positions de tel, fax et mail */
/* on les décale très légèrement vers la gauche puisque les icônes les avaient décalées vers la droite */
#iContactTel, #iContactCoordonnees p:nth-of-type(5), #iContactMail{
	padding-bottom: 1rem;
	position: relative;    /* #iContactTel en a aussi besoin ci-dessous pour le clicIndex */
	top: 0;
	left: -0.8rem;
}
/* icône du clicIndex (#iContactTel est déjà en position relative, cf ci-dessus) */
#iContactTel img{
	position: absolute;
	top: 1.8rem;
	/* cf ctrl+F #iTelBandeau img{ pour plus d'explications */
}
/* espace avant les liens FB et G+ */
#iContactMail{
	padding-bottom: 3rem;
}
/* fontawesome pour les icônes 'tel', 'fax' et 'mail' */
#iContactCoordonnees .fa-phone, #iContactCoordonnees .fa-fax, #iContactCoordonnees .fa-envelope{
	margin-right: 3%;
	position: relative;
	top: 0.2rem;
	left: 0;
}
/* icônes/liens vers Facebook et Google+ */
#iContactCoordonnees p:nth-of-type(7), #iContactCoordonnees p:nth-of-type(8){
	display: inline-block;
	height: 3rem;
	width: 3rem;
	margin: 0 3rem; /* pour les espacer un peu */
	position: relative;
}
#iContactCoordonnees .cFaceGool{
	position: absolute;
	top: 0;
	left: 0;
}
#iContactCoordonnees .cCouleurNoire:hover{
	display: none;
}
/* j'ai essayé avec visibility, z-index ... dessus / dessous ... rien n'y fait, c'est toujours "oscillant" */


/*******************************     plan     ******************************/

/* icône de guidage GPS */
#iContactPlan p:nth-last-of-type(2){
	position: relative;       /* ^ permet de sélectionner l'avant-dernier élément ! */
}
#iContactPlan p img, #iPdGplan img{
	width: 3rem;
	position: absolute;
	top: -.2rem;
	/* cf ctrl+F #iTelBandeau img{ pour plus d'explications */
}
/* un peu d'espace avant le plan */
#iContactPlan p:last-of-type{
	padding-bottom: 2rem;
}

/**********************     formulaire de contact     **********************/

/* plus rien de spécial ... */

/***************************************************************************************************************/
/* Cette partie est commune aux 5 formulaires :                                                                */
/*                                                                                                             */
/*       => contact, connexion, inscription, ordonnance et commande                                            */
/*                                                                                                             */

/* lignes fines entre les champs, taille des champs ...                                                        */
.cChampForm{
	/* cf theme.css pour le border-top: */
	padding: 1.5rem 0;
	width: 100%;
	text-align: right;
}
/* pour positionner latéralement les civilités                                                                 */
.cChampForm [for='iCiviliteM']{
	padding-right: 20%;
}
/* proportions entre label et input pour les champs du formulaire                                              */
.cChampForm input:not([type='radio']){
	width: 58%;
	margin-left: 3%;
	margin-right: 1.5%;
}
.cChampForm [type='radio']{
	margin-left: 5%;
}
/* message dans le champ 'textarea'                                                                            */
.cChampForm textarea{
	text-align: justify;
	/* pour bloquer la largeur du champ texte                                                                  */
	min-width: 59.5%; /* bizarrement, si on met 58%, ça n'est pas tout                                         */
	max-width: 59.5%; /* à fait aligné avec les input situées au-dessus                                        */
	margin-left: 3%;
}

/* label 'Message' calé en haut                                                                                */
.cChampForm [for='iMessageTextarea']{
	vertical-align: top;
}

/* mess. d'erreurs dans les form. contact, inscrip, ordo et comm             partie commune aux 5 formulaires  */
sub{
	display: block;
	padding-right: 1%;
	/* pour positionner le message un peu plus bas                                                             */
	position: relative;
	top: .8rem;
}

/* proportion entre label et button pour le bouton de validation                                               */
.cBoutonOk{
	text-align: right;
}

/* déco du bouton de validation du formulaire                                                                  */
.cBoutonOk button{
	width: auto;
	padding: 1rem;
	margin-right: 2rem;
	border: none;
	border-radius: 5px;
}

/*--------------------------------------------------------------------------------                             */
/*                                                                                                             */
/*                  petit § dédié aux messages de confirmation                                                 */
/*                     (d'envoi, de création de compte, ...)                                                   */
/*    communs aux pages contact, inscription, prepaCommande et prepaOrdonnance                                 */
/*                                                                                                             */

/* espaces autour de la div des messages de confirmation                                                       */
.cMessageConfirmation{
	padding: 5% 0 18%;
}
/* espace sous les 2 phrases du message de confirmation                                                        */
.cMessageConfirmation p{
	padding-bottom: 3%;
}

/*               fin du § sur les messages de confirmation                                                     */
/*--------------------------------------------------------------------------------                             */

/*               fin de la partie commune aux 5 formulaires                                                    */
/***************************************************************************************************************/


/***************************************************************************************************************************************/
/**************************************       page prepaOrdonnance   +   page prepaCommande       **************************************/
/***************************************************************************************************************************************/

/* marges autour du § d'introduction situé au dessus du formulaire */
#iBlablaIntro{
	padding-bottom: 5.8%;
	text-align: justify;
}

/* position et marges autour de 'Mode d'emploi' */
#iOrdoPrepaOrdo article:first-of-type{
	text-align: left;
}
#iOrdoLienModeEmploi{
	padding: 0 0 8% 5%;
	position: relative;
}
/* position du clicIndex */
#iOrdoLienModeEmploi img{
	position: absolute;    /* on a mis le relative juste au-dessus */
	top: 0.8rem;
	/* cf ctrl+F #iTelBandeau img{ pour plus d'explications */
}
/* par défaut, le mode d'emploi est masqué */
#iOrdoModeEmploi{
	display: none;
}
/* quand on clique sur le lien 'Mode d'emploi', ça le déplie */
#iOrdoModeEmploi:target{
	display: block;
}

/*  § Mode d'emploi  */
#iOrdoModeEmploi{
	padding: 7%;
	margin: 2% 2% 8%;
	text-align: left;
}
/* centrage de l'intro */
#iOrdoModeEmploi div{
	text-align: center;
	margin-bottom: 5%;
}

/* un peu d'espace entre les différents points du mode d'emploi */
#iOrdoModeEmploi ol li, #iOrdoModeEmploi ol li span{
	margin: 4% 0;
}

/* décalage des puces de 2e niveau */
#iOrdoModeEmploi ul{
	margin-left: 8%;
}

/* blabla au dessus du champ 'textarea' */
#iOrdoPrepaOrdo .cChampForm p:first-child{
	text-align: justify;
	padding: 0 4% 4% 4%;
}

/***************************************************************************************************************************************/
/***************************************************          page horaires          ***************************************************/
/***************************************************************************************************************************************/

/* chaque jour de la semaine */
#iHorairesTableau article{
	text-align: left;
	padding-bottom: .5rem;
}
/* pour que chaque article, contenant le p.cJour (jour) et les div (heures), ne prenne qu'une seule ligne */
#iHorairesTableau p.cJour, #iHorairesTableau article div{
	display: inline-block;
}

/* =======================     Pour créer un trait vertical représentant l'heure     ============================= */
.cSemaine, .cSamedi{
	position: relative;
}
#iHorairesTraitVH{
	/* cf theme.css pour le trait vertical qui est représenté par :   border-left: solid #xxx 2px; */
	position: absolute;
	top: 0; /* la valeur du left est déterminée en PHP dans le HTML */
}
#iHorairesAujourdhui .cEffacerTrait, #iHorairesTableau article .cEffacerTrait{
	position: absolute;
	top: 0;
	left: 0;
}

/* =============================================================================================================== */
/* ========================                                                               ======================== */
/* ========================     largeurs et marges des jours et des créneaux horaires     ======================== */
/* ========================                                                               ======================== */
/* ========================  !!! si modifications => les reporter dans fonctions.php !!!  ======================== */
/* ========================                                                               ======================== */
/* jours de la semaine */
#iHorairesTableau p.cJour{
	width: 23%;
}
/* 8h30 */
#iHorairesTableau .cSemaine div:nth-child(2){
	width: 14%;				/* cette valeur (14%) et celle du segment suivant (14%) ci-dessous            */
	padding-left: 1%;		/* doivent être égales, pour la linéarité de la progression du trait vertical */
}
/* 12h30 */
#iHorairesTableau .cSemaine div:nth-child(3){
	width: 14%;
	text-align: right;
	padding-right: 1%;
}
/* - */
#iHorairesTableau .cSemaine .cTiret{
	width: 5%;
	text-align: center;
}
/* 14h */
#iHorairesTableau .cSemaine div:nth-child(5){
	width: 19%;				/* cette valeur (19%) et celle du segment suivant (19%) ci-dessous            */
	padding-left: 1%;		/* doivent être égales, pour la linéarité de la progression du trait vertical */
}
/* 19h30 */
#iHorairesTableau .cSemaine div:nth-child(6){
	width: 19%;
	text-align: right;
	padding-right: 1%;
}
/* samedi */
#iHorairesTableau .cSamedi p.cJour{
	width: 26.75%;      /* cette valeur bizarre permet d'aligner '9h le samedi' avec '9h en semaine' */
}
/* samedi 9h */
#iHorairesTableau .cSamedi div:nth-child(2){
	width: 21.9%;   /* cette valeur bizarre permet d'aligner '16h le samedi' avec '16h en semaine' */
	text-align: left;
	padding-left: 1%;
}
/* samedi 16h */
#iHorairesTableau .cSamedi div:nth-child(3){
	width: 21.9%;   /* cf ci-dessus, et ces 2 valeurs doivent être égales, pour la linéarité de la progression du trait vertical */
	text-align: right;
	padding-right: 1%;
}

/* ========================                                                               ======================== */
/* ========================  !!! si modifications => les reporter dans fonctions.php !!!  ======================== */
/* ========================                                                               ======================== */
/* =============================================================================================================== */


/***************************************************************************************************************************************/
/************************************************          page pharma de garde         ************************************************/
/***************************************************************************************************************************************/

/* texte justifié dans les 2 sections */
#iPdG3237, #iPdGplan{
	text-align: justify;
}

/* -----------   Section 3237   ----------- */

/* centrer la croix verticalement et horizontalement */
#iPdGcroix{
	position: relative;
	padding-bottom: 35%;
}
#iPdGcroix img{
	position: absolute;
	top: 58%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* pour Chrome */
	   -moz-transform: translate(-50%, -50%); /* pour Firefox */
			transform: translate(-50%, -50%);
	width: 38%;
}

/* -----------   section plan   ----------- */

/* on centre l'adresse du commissariat */
#iPdGplan p:nth-of-type(2){
	text-align: center;
	padding: 8% 0;
}

/* un peu d'espace entre chaque ligne */
#iPdGplan p{
	padding: 1% 0;
}
/* pour pouvoir positionner l'img (icône de guidage GPS) */
#iPdGplan p:nth-last-of-type(2){
	position: relative;
}
/* icône de guidage GPS */
/* cf ctrl+F #iPdGplan img{ */

/* un peu d'espace entre la dernière ligne et le plan */
#iPdGplan p:last-of-type{
	padding-bottom: 2rem;
}

/***************************************************************************************************************************************/
/*********************************************          page gammes de produits          ***********************************************/
/***************************************************************************************************************************************/


/* Comme la classe cSectionContour définit des marges latérales, et qu'ici, */
/* exceptionnellement, on n'en veut pas, on les supprime :                  */
#iGammesProd{
	padding-left: 0;
	padding-right: 0;
}
/* sélectionne   <article>   qui est placé immédiatement après   <h2>   qui est un enfant (direct ou pas) de   #iGammesProd   */
#iGammesProd > h2 + article{
	padding-top: 2rem;
}
/* image d'introduction au § */
#iGammesProd article .cImageDeco img{
	display: block; 				/* pour supprimer l'espace de qqs pixels sous l'image, cf index.php pour l'explication */
	opacity: 0.3;
}

/* pour caler les titres des articles sur l'image */
#iGammesProd article .cImageDeco{
	position: relative;
	/* cf theme.css pour la bordure autour de l'image :   border: 0.3rem solid #xxx;  */
}

/* titres placés sur les images */
#iGammesProd article h3{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* pour Chrome */
	   -moz-transform: translate(-50%, -50%); /* pour Firefox */
			transform: translate(-50%, -50%);
	width: 100%;
}

/* organisation des textes et des images associées */
#iGammesProd article div p, #iGammesProd article div:not(.cImageDeco) img{
	display: inline-block;
	vertical-align: middle;
	padding: 1%;
}

/* organisation des textes et des images associées : proportion texte / image */
#iGammesProd article div p{
	width: 55%;
}
#iGammesProd article div:not(.cImageDeco) img{
	width: 40%;
}

/***************************************************************************************************************************************/
/************************************************        pages infos et promos        **************************************************/
/***************************************************************************************************************************************/
#iPromos, #iInfos{
	min-height: 30vh; /* hauteur min = 30% du viewport, ie de la taille de l'écran, complétée par le bas */
}

/***************************************************************************************************************************************/
/************************************************              page aide              **************************************************/
/***************************************************************************************************************************************/
#iAide h1, #iAide h2{
	position: static;   /* pour 'supprimer' le 'position: absolute' du bandeau */
}
#iAide h1{
	font-size: 3rem;
}
#iAide h2{
	font-size: 2.5rem;
	text-align: left;
}
#iAide p{
	padding-bottom: 2rem;
	text-align: left;
}
#iAide ol, #iAide h3{
	padding-bottom: 1rem;
	text-align: left;
}
#iAide ol{
	padding-left: 5%;
}

/***************************************************************************************************************************************/
/************************************************        page mentions légales        **************************************************/
/***************************************************************************************************************************************/

/* petite mise en page */
#iMentionsLegales h3{
	text-align: center;
	text-decoration: underline;
	padding: 8% 0;
}
/* entité */
#iMentionsLegales .gauche{
	text-align: left;
	padding: 2%;
}
/* logo */
#iMentionsLegales img{
	padding-left: 2%;
	width: 25%;
	float: left;
}
/* coordonnées de l'entité */
#iMentionsLegales .droite{
	text-align: right;
	padding: 0 2% 4% 10%;
}

/***************************************************************************************************************************************/
/****************************************************             Footer            ****************************************************/
/***************************************************************************************************************************************/

/* Ca sert surtout pour l'index, pour annuler les float left des vignettes : */
footer{
	clear: both;
}
/* footer 1ère section : Mentions légales */
footer section:first-of-type{
	padding: 5% 2%;
}

/* footer 2ème section : Editeur du site */
footer section:last-of-type{
	padding: 5% 2%;
}

/* ********************************************************************************************************************************************** */
/* ********************************************************************************************************************************************** */
/* *******************************************************                                ******************************************************* */
/* *******************************************************          Media queries         ******************************************************* */
/* *******************************************************                                ******************************************************* */
/* ********************************************************************************************************************************************** */
/* ********************************************************************************************************************************************** */


/* Cette petite partie n'a en fait pas été traitée plus haut mais     */
/* concerne les titres <h2> qui peuvent être dans 3 états différents. */
/* (il était donc judicieux de les rassembler dans un même endroit)   */
/*                                                                    */
/* - <h2> toujours affichés                                           */
/*        (c'est le cas par défaut,                                   */
/*         avec font-weight en gras, cf theme.css)                    */
/*                                                                    */
/*        - #iIndex h2                                                */
/*        - #iHorairesIntro h2                                        */
/*        - #iContactPlan h2                                          */
/*        - #iContactFormulaire h2                                    */
/*        - #iOrdoPrepaOrdo h2                                        */
/*        - #iCommPrepaComm h2                                        */
/*        - #iGammesProd h2                                           */
/*        - #iPdG3237 h2 (ie #iPdGh21 et #iPdGh22 )                   */
/*        - #iMentionsLegales h2                                      */
/*        - footer h2                                                 */
/*                                                                    */
/* - <h2> jamais affichés (mais nécessaires pour la validation W3C)   */
/*        - #iHorairesTableau h2                                      */
/*        - #iPdGplan h2                                              */
/*                                                                    */
/* - <h2> affichés uniquement pour les medias braille                 */
/*        - #iContactInfosPratiques h2                                */
/*        - #iContactCoordonnees h2                                   */
/*                                                                    */
/*                                                                    */

/**********************************************************************/
/* <h2> toujours affichés (c'est le cas par défaut)                   */
/* ici on regroupe les exceptions :                                   */

/* ... 'pharmacie de garde' ... */
#iPdGh21{
	padding-bottom: 0; /* juste en-dessous, c'est la grosse croix, et ça présente mieux sans espace dessous */
}
/* 'Pharmacie de garde' */
#iPdGh22{
	text-align: center; /* dans ce cas, le h2 est le titre de la section, donc on le centre */
	padding-bottom: 0;  /* juste en-dessous, il y a une .cSectionContour avec déjà son padd-bott à 5.8% */
}
/* cf theme.css pour le font-weight de
	footer h2
	#iIndex h2  'Services proposés par ...'
	#iPdGh21  '... pharmacie de garde en cliquant ...'
*/

/*                                                                    */
/**********************************************************************/
/* <h2> jamais affichés (mais nécessaires pour la validation W3C)     */
#iHorairesTableau h2,             /* 'Horaires d'ouverture de la ...' */
#iPdGplan h2                      /* 'Localiser le commissariat ...'  */
{
	display: none;
}

/*																														NOT BRAILLE	*/
/**********************************************************************/
/* <h2> affichés uniquement pour les medias braille                   */
/*                                                                    */
@media not braille{
	/* je suis obligé de faire les choses "à l'envers" :                                                         */
	/*    -> comme la propriété css 'display' permet d'effacer un élément (display: none)                        */
	/*       mais pas de le ré-afficher s'il a déjà subi un 'display: none'                                      */
	/*       (il n'existe pas de 'display: on', même si 'display: block' peut parfois nous rendre service)       */
	/*    -> ainsi, au lieu de dire "j'efface les titres, mais pour les medias de type braille, je les affiche", */
	/*       => je dis "pour les medias de type non braille (@media not braille), j'efface les titres"           */

	#iContactInfosPratiques h2,	  /* 'Informations pratiques'         */
	#iContactCoordonnees h2 	  /* 'Coordonnées de la ...'          */
	{
		display: none;
	}

/* Fin de la gestion de l'affichage des <h2>                          */
/**********************************************************************/

	.cBraille{
		display: none;
	}
}

/*																															BRAILLE	*/
@media braille{

	/* NB : Apparemment, la propriété 'display: none' n'a aucun effet sur les lecteurs d'écran.     :(   */
	/*      Que l'on soit dans le § général (cf qqs h2 ci-dessus en 'display: none'),                    */
	/*      ou en @media braille, cela ne change rien, les lecteurs d'écran affichent tout !             */

	/* Ci-dessous, c'est ce que l'on souhaitait, mais cela n'a aucun effet    :(                         */
	/* - iHorairesTableau : le tableau graphique des horaires est remplacé par une phrase les résumant   */
	/* - iPiegeAA         : on n'affiche pas le lien anti-aspiration (enteteXX.php)                      */
	#iHorairesTableau, #iPiegeAA{         
		display: none;
	}
}

/* 																															460 px	*/
@media screen and (min-width: 460px){

	body, h2, p.cJour{
		font-size: 2rem; 				/* old 1.7 */
	}
	/* On augmente un peu les tailles de polices et le nombre de vignettes en largeur */
	h1{
		font-size: 5.5rem;				/* old 4.5 titre de la page : Nom de la pharmacie */
		top: 2%;
		left: 18%;
	}
	h1+strong{
		font-size: 4.5rem;				/* old 3 sous-titre de la page : adresse ... */
		top: 38%;
		left: 24%;
	}
	#iLogoCroix{
		width: 14%;
		display: block;
	}
	#iTelBandeau{
		font-size: 4rem;				/* old 3.5 */
		top: 62%;
		left: 52%;
	}
	#iTelBandeau img{
		top: 2rem;						/* old 1.8 */
	}
	/* page Index : on affiche 2 vignettes en largeur */
	#iIndex article{
		width: 50%;
		float: left;
	}

	/*     page prepaOrdonnance     */

	/* blabla au dessus du champ 'textarea' */
	#iOrdoPrepaOrdo .cChampForm p:first-child{
		width: 58%;						/* aucune valeur */
		margin-left: 33%;				/*     avant     */
	}

	/* icône du clicIndex */
	#iOrdoLienModeEmploi img{
		top: 1.2rem;					/* old 0.8 */
	}

	/*         page contact        */

	/* icône de guidage GPS */
	#iContactPlan p img, #iPdGplan img{
		width: 4rem;					/* old 3   */
	}

	/* on arrange un peu le formulaire */
	#iContactFormulaire .cChampForm input:not([type='radio']){
		width: 64%;
	}
	#iContactFormulaire .cChampForm textarea{
		min-width: 65.5%; /* bizarrement, si on met 62%, ça n'est pas tout  */
		max-width: 65.5%; /* à fait aligné avec les input situées au-dessus */
	}

	/* réglage de la taille des images                                                              =>  à ajouter dans les media queries +++++++++++++   */
	/*#iGammesProd article div:not(.cImageDeco) img{
		width: 80%;
	}
	*/

	/*      page PharmaDeGarde      */

	/* icône de guidage GPS */
	/* cf ctrl+F #iPdGplan img{ */

	/* Mentions légales */
	#iMentionsLegales .gauche{
		padding-left: 5%;
	}
	#iMentionsLegales img{
		padding-left: 5%;
		width: 18%;
	}
	#iMentionsLegales .droite{
		padding-right: 5%;
	}

	/*           page humour           */

	/* "Merci à ..." */
	#iHumour p:last-of-type{
		font-size: 1.6rem;				/* old : 1.4rem					*/
	}
}

/* 																															600 px	*/
@media screen and (min-width: 600px){

	h1{
		font-size: 7rem;				/* old 5.5 - titre de la page : Nom de la pharmacie */
		top: 7%;
	}
	h1+strong{
		font-size: 5rem;				/* old 4.5 - sous-titre de la page : adresse ... */
		top: 44%;
		left: 22%
	}
	#iTelBandeau{
		font-size: 5rem;				/* old 4 en mobile - numéro de tel cliquable */
	}
	#iTelBandeau img{
		top: 2.5rem;					/* old 2 */
	}
	nav#iNavigation{
		padding: 1rem; /* hauteur du bandeau de nav */
	}
	#iNavigation li{
		font-size: 2.5rem;
		margin-right: 1rem; /* on éloigne un peu les mots du bord de droite */
		padding-left: 1rem; /* et aussi entre eux */
	}
	#iNavigation li:first-child{
		left: 0.5rem; /* on éloigne un peu Accueil du bord de gauche */
		top: 0;
	}

	/*********************************    page contact   **********************************/

	/* font-awesome pour les icônes 'tel', 'fax' et 'mail' */
	.fa-phone, .fa-fax, .fa-envelope{
		font-size: 3rem;				/* old 2 */
	}

	/* icône du clicIndex */
	#iContactTel img{
		top: 2.5rem;					/* old 1.8 */
	}
	/* on décale un peu vers la droite le blabla */
	#iContactPlan p{
		padding-left: 10%;
	}
	/* icône de guidage GPS */
	#iContactPlan p img, #iPdGplan img{
		width: 4.5rem;					/* old 4   */
	}

	/*******************************   page pharmaDeGarde   *******************************/

	/* icône de guidage GPS */
	/* cf ctrl+F #iPdGplan img{ */

	/******************************  page mentions légales  *******************************/

	#iMentionsLegales .gauche{
		padding-left: 15%;
	}
	#iMentionsLegales img{
		padding-left: 15%;
		width: 15%;
	}
	#iMentionsLegales .droite{
		padding-right: 15%;
	}
}


/* 																															900 px	*/
@media screen and (min-width: 900px){

	h1{
		font-size: 9rem;				/* old 7 - titre de la page : Nom de la pharmacie */
		top: 10%;
	}
	h1+strong{
		font-size: 6rem;				/* old 5 - sous-titre de la page : adresse ... */
		left: 24%;
	}
	#iTelBandeau{
		font-size: 6rem;				/* old 5 */
	}

	/* page Index : on passe en 3 vignettes en largeur */
	#iIndex article{
		width: 33.33%;
	}

	/* page Horaires */
	/* pour recentrer l'ensemble du tableau */
	#iHorairesTableau{
		padding-left:  14%;
		padding-right: 14%;
	}

	/* page Contact */
	#iContactInfosPratiques, #iContactCoordonnees{
		width: 45%;
		display: inline-block; /* c'est là qu'on passe en 2 colonnes */
		vertical-align: top;
	}
	#iContactCoordonnees:before{
		content: none; /* on annule le trait avec le § précédent puisqu'on passe sur 2 colonnes */
	}
	/* FB et G+ */
	#iContactCoordonnees p:nth-of-type(7), #iContactCoordonnees p:nth-of-type(8){
		display: inline-block;
		height: 4rem;
		width: 4rem;
	}
	#iContactPlan p img{
		top: -.58rem;
		/* cf ctrl+F #iTelBandeau img{ pour plus d'explications */
	}

	/*      page PharmaDeGarde      */

	/* icône de guidage GPS */
	/* cf ctrl+F #iPdGplan img{ */

	/* Mentions légales */
	#iMentionsLegales img{
		width: 12%;
	}
}

/* 																															1600 px	*/
@media screen and (min-width: 1600px){

	#iTelBandeau img, #iContactTel img{
		display: none; /* sur un écran d'ordi, on n'affiche plus l'icône clicIndex */
	}
}

/* 																														impression	*/
@media print{

	/*********************************  GENERIQUE  ********************************/

	body{
/*		width: auto!important;
		margin: auto!important;*/
		background-color: white!important;
		color: black!important;
	}
	p, a, h1, h2, h3, h4, h5, h6, ul, ol, span, div{
		color: black!important;
		/*margin: auto!important;*/
	}
	p{
		orphans: 3; /* pas de ligne seule en bas  */
		widows:  3; /* pas de ligne seule en haut */
	}
	ul, ol{
		page-break-inside: avoid; /* pas de saut de page dans ces éléments */
	}
	h1, h2, h3{
		page-break-after: avoid; /* pas de saut de page après ces éléments */
	}

	/* ça ne me sert pas, mais c'est juste bon à savoir ! */
/*	a[href]:after{
		content: " (" attr(href) ")"; /* affichage des url des liens
	}*/

	/********************************  SPECIFIQUE  ********************************/

	/************ bandeau du haut ************/

	header section{
		padding: 0 0 25%;
	}
	body, h2, p.cJour{
		font-size: 1.8rem; /* taille par défaut de toutes les polices + les h2 et les p.cJour */
	}
	#iLogoCroix{
		width: 14%;						/* taille et position de la croix */
		display: block;
		top: 0;
	}
	h1{
		font-size: 7rem;				/* titre de la page : Nom de la pharmacie */
		top: 0;
		left: 25%;
	}
	h1+strong{
		font-size: 3.5rem;				/* sous-titre de la page : adresse ... */
		top: 40%;
		left: 35%;
	}
	#iTelBandeau{
		font-size: 3.5rem;				/* n° de telephone */
		top: 60%;
		left: 35%;
	}
	#iTelBandeau img, #iContactTel img{
		display: none; 					/* on n'affiche pas l'icône clicIndex */
	}


	/********************* page Index ********************/

	#iIndex article{
		width: 33.33%;  /* on met 3 vignettes */
		float: left;    /*     en largeur     */
	}

	/******************** page Contact *******************/

	#iContactInfosPratiques, #iContactCoordonnees{
		width: 45%;
		display: inline-block;  /* c'est là qu'on passe en 2 colonnes */
		vertical-align: top;
	}

	/*************** page Mentions légales ***************/

	#iMentionsLegales div{
		page-break-inside: avoid; /* pas de saut de page au milieu d'un div */
	}
	#iMentionsLegales img{
		width: 17%;
	}
}
