/*  Gris : #575757     Orange : #F29200     Marron : #7B6A57     Vert : #94C11D     Fuschia : #D84591    Mauve : #951A80   */

/* Police importée de Google fonts */
/* (positionner cet import sur la 1ère ligne du fichier CSS, sinon ça peut bugger) */
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,700');

/* Supprimer toutes les marges de toutes les balises */
*{
	margin: 0;
	padding: 0;
	border: solid orange 0px;
}

/* Configurer l'utilisation des "rem" => 1 rem = 10 px */
html{ font-size: 62.5%; }  /* => associé à body{ font-size: 1.5rem; } */

/* les crochets [] permettent d'identifier un ATTRIBUT */
a:not([target]){ text-decoration: none; }

/* img = 100% de la largeur du parent */
img{
	max-width: 100%;
}

body{
	/* ligne associée à l'import de la police Google fonts */
	font-family: 'Advent Pro', sans-serif;
 	text-align: center;/* étant donné que le texte est majoritairement centré dans tout le doc */
 	background-color: #575757;
 	max-width: 95rem;
 	margin: auto;
} 
main{
	background-color: white;
}

body{
	font-size: 1.8rem; /* taille par défaut de toutes les polices */
}
h1{
	font-size: 2.5rem; /* titre de la page : Pharmacie Le Reste */
}
h2{
	font-size: 1.5rem; /* sous-titre de la page : Nantes, ... */
}
#telIndex{
	font-size: 2rem; /* sous-titre de la page : numéro de tel cliquable */
}
.vignettes article h4{
	font-size: 2.5rem; /* titres des vignettes de la page Index */
}
.fa-phone, .fa-fax, .fa-envelope{
	font-size: 2rem; /* taille des icônes font-awesome : tel, fax et mail */
}
.champsForm input, .champsForm textarea{
	font-size: 1.8rem;
}
.champsForm span{
	font-size: 1.3rem; /* messages d'erreurs dans les form. contact et ordonn. */
}
.droite h3{
	font-size: 2.2rem; /* intro du form. de contact "Envoyez-nous un message ... " */
}
.droite p{
	font-size: 1.8rem; /* message de réussite ou d'échec après l'envoi du formulaire */
}
footer section:first-of-type{
	font-size: 1.3rem; /* Pharmacie Le Reste ... */
}

h3{
	font-weight: 400;  /* on les met tous en "normal" par défaut */
}

/* ******************************************************************************************** */
/* ******************************        Bandeau du haut         ****************************** */
/* ******************************************************************************************** */

/* Image de fond */
header section{
	background-image: url("../img/fond1.jpg");
	background-size: cover;
	margin: auto;
	padding-top: 15%;
	padding-bottom: 15%;
	position: relative; /* pour positionner le h1, le h2 et la croix en haut à gauche */
}

/* Image de la croix positionnée en haut à gauche */
header section img{
	width: 11%;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

/* titre + sous-titre du bandeau supérieur */
h1, h2{
	color: #951A80;
	font-weight: 700;
	position : absolute;
	left: 16%;
}
/* titre : Pharmacie ... */
h1{
	top: 0;
}
/* sous-titre : Nantes ... */
h2{
	top: 28%;
}

/* numéro de téléphone cliquable */
#telIndex {
	color: #951A80;
	font-weight: 700;
	position: absolute;
	top: 52%;
	left: 23%;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
#telIndex a:link, #telIndex a:visited, #telIndex a:hover, #telIndex a:focus, #telIndex a:active{
	color: #951A80;
}


/* ******************************************************************************************** */
/* *******************************       Menu de navigation       ***************************** */
/* ******************************************************************************************** */
nav{
	background-color: #94C11D;
	text-align: right;
	padding: 0.5rem;
}

nav a{
	color: white;
}

ul{
	margin:	auto;
	position: relative; /* à cause du "first li" */
}

.navigation li{
	display: inline-block;
	margin-right: 0rem;
	padding-left: .4rem;
	font-weight: 400;
}

.navigation li:first-child{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0; /* Bien qu'il y ait un "left 0" juste au dessus, ça semble nécessaire ... */
	padding-left: 0;
}

/* ******************************************************************************************** */
/* ******************************           Page Index           ****************************** */
/* ******************************************************************************************** */

.intro {
	padding: 4rem 0 6rem 0;
}

/* Ces <span> sont ajoutés dans la fonction 'pharmacieOuverte' et non directement dans index.html */
.intro span {
	font-weight: bold;
}
.intro .ouvert {
	color: #4DBC1C;
}
.intro .ferme {
	color: #FF4141;
}
.intro .ouve {
	color: black;
}
.intro .fer {
	color: #F29200;
}
/* <h3> ajouté pour la validation W3C mais non affiché */
.vignettes h3 {
	display: none;	/* Services proposés ... */
}
.vignettes article{
	position: relative; /* pour que les <a> et les <img> soient superposés */
	/*margin-bottom: -0.6rem;  sinon, il y a une petite bande blanche en dessous de l'image ... ??!!   */
}
.vignettes article a{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #94C11D;
	color: white;
	width: 100%;
	height: 100%;
	font-weight: 700;
	line-height: 1.4em; /* line-height = hauteur de l'interligne */
	opacity: 0;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
.vignettes article a:hover, .vignettes article a:focus, .vignettes article a:active{
	opacity: .85;
}

.vignettes article h4{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* pour Chrome */
	   -moz-transform: translate(-50%, -50%); /* pour Firefox */
			transform: translate(-50%, -50%);
	width: 100%;
}

/* ******************************************************************************************** */
/* ******************************          Page Contact          ****************************** */
/* ******************************************************************************************** */

/* espace entre le bandeau et les infos de contact */
/* et entre les infos de contact et le footer      */

.formsContOrdo{      /* formulaires 'contact' et 'ordonnance' */

	padding: 1rem 0; /* si on met un margin, il prend la couleur de fond du body */
}

/* ************     colonne de gauche : adresse et liens vers réseaux sociaux      ************ */
.gauche p:nth-child(1){
	padding-top: 2rem;		/* marge au dessus de "Pharmacie Le Reste" */
}

.gauche p:nth-child(3){
	margin-bottom: 2rem; 	/* marge en dessous de Nantes */
}

/* positions de tel, fax et mail */
.gauche p:nth-child(4),
.gauche p:nth-child(5),
.gauche p:nth-child(6){
	margin-bottom: 1rem;
	position: relative;
	top: 0;
	left: -0.8rem;
}

/* on met juste le tel en gras */
#telContact{
	font-weight: bold;
	text-decoration: underline;
}
/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
#telContact a:link, #telContact a:visited, #telContact a:hover, #telContact a:focus, #telContact a:active{
	color: black;
}

/* soulignement et coloration du mail quand on passe dessus */
.gauche p:nth-child(6) a{
	text-decoration: underline;
}

.gauche p:nth-child(6) a:link, .gauche p:nth-child(6) a:visited{
	color: black;
}

.gauche p:nth-child(6) a:hover, a:focus, a:active{
	color: #F29200;
}

/* espace avant les liens FB et G+ */
.gauche p:nth-child(6){
	margin-bottom: 3rem;
}


/* fontawesome pour les icônes "tel", "fax" et "mail" */
.gauche .fa-phone, .gauche .fa-fax, .gauche .fa-envelope{
	margin-right: 2rem;
	position: relative;
	top: 0.2rem;
	left: 0;
}

/* Icônes / liens vers Facebook et Google+ */

.gauche p:nth-child(7), .gauche p:nth-child(8){
	display: inline-block;
	height: 3rem;
	width: 3rem;
	margin: 0 3rem; /* pour les espacer un peu */
	position: relative;
}

.gauche .fbg{
	position: absolute;
	top: 0;
	left: 0;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
.gauche .noir:hover, .noir:focus, .noir:active{
	display: none;
}

/* j'ai essayé avec visibility, z-index ... dessus / dessous ... rien n'y fait, c'est toujours "oscillant" */



/* ********************     colonne de droite : formulaire de contact      ******************** */

/* ligne fine de séparation entre les 2 § */
/* (en version mobile uniquement !)       */
.droite:before{
	content: "";
	display: block;
	height: .2rem;
	width: 4rem;
	margin: 2rem auto;
	background-color: #951A80;
}

/* message d'introduction au formulaire : "Envoyez-nous un message ... " */
.droite h3{
	margin-bottom: 2rem;
	font-weight: 700;
}

/* saisie obligatoire des champs */
.droite section > span{
	font-size: .8em;
}

/* pour que les lignes fines entre les champs ne fassent pas toute la largeur de la colonne */
.droite section{
	margin: 0 1rem;
}

/* lignes fines entre les champs, taille des champs ... */
.champsForm{
	border: none;
	border-top: .1rem solid #951A80;
	padding: 1.5rem 0;
	width: 100%;
	text-align: right;
}

/* proportions entre label et input pour les champs du formulaire */
.champsForm input:not([type="radio"]), .champsForm textarea{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	width: 65%;
	margin-left: 3%;
	margin-right: 1.5%;
}
.champsForm [type="radio"]{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	margin-left: 5%	
}
.champsForm [for="idCiviliteM"] {
	margin-right: 25%;
}
/* pour bloquer la largeur du champ texte */
.champsForm textarea{
	min-width: 65%;
	max-width: 65%;
	margin-left: 3%;
}

/* label "Message" calé en haut, ligne fine sous le message */
.champsForm [for="idMessage"]{
	vertical-align: top;
}

/* pour les éventuels messages d'erreurs */
.champsForm span{
	text-align: right;
	margin-right: 1.2rem;
	color: red;
}

/* proportion entre label et button pour le bouton de validation */
.envoyer{
	text-align: right;
}

/* déco du bouton de validation du formulaire */
.envoyer button{
	background-color: #7B6A57;
	color: white;
	width: auto;
	font-weight: 400;
	padding: 1rem;
	margin-right: 2rem;
	border: none;

	-webkit-border-radius: 5px; /* cf site border radius generator */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
.envoyer button:hover, .envoyer button:focus, .envoyer button:active{
	background-color: #F29200;
}

/* Fin de Contact */

/* ******************************************************************************************** */
/* ******************************        Page Ordonnance         ****************************** */
/* ******************************************************************************************** */


/* marges autour du § d'introduction situé au dessus du formulaire */
.artIntroOrdo {
	padding: 1rem 1rem;      /*     haut et bas : 1rem      gauche et droite : 1rem      */
	text-align: justify;
}
/* N'oubliez pas l'original de l'ordonnance ... */
.attention {
	color: red;
	font-weight: bold;
}

/* par défaut, le mode d'emploi est masqué */
#idModeEmploi + article {
	display: none;
}

/* quand on clique sur Mode d'emploi, ça le déplie */
#idModeEmploi:active + article, #idModeEmploi:focus + article {
	display: block;
}

/* calage à gauche dans l'article */
.formsContOrdo article:nth-child(2) {
	text-align: left;
}

/* calage et couleur(s) du lien "mode d'emploi" */
#idModeEmploi p{
	padding: 0 0 2rem 3rem;
}
#idModeEmploi:link, #idModeEmploi:visited {
	color: #F29200;
}
#idModeEmploi:hover, #idModeEmploi:focus, #idModeEmploi:active {
	color: black;
}

/*  § Mode d'emploi  */
.artModeEmploi {
	padding: 2rem;
	margin: 0 .5rem 2rem .5rem;
	background-color: #5B5B5B;
	color: white;
	text-align: left;
}

/* centrage de l'intro */
.artModeEmploi aside {
	font-style: normal;
	text-align: center;
}

/* "... 4 étapes" en gras */
.artModeEmploi aside span{
	font-weight: bold;
	text-decoration: underline;
}

/* chacune des étapes */
.artModeEmploi p{
	font-weight: bold;
	text-decoration: underline;
	padding: 1rem 0;
}

.artModeEmploi li{
	margin-left: 1rem;
}

.artModeEmploi ul{
	margin-left: 2rem;
}

/* saisie obligatoire des champs */
.formsContOrdo article:nth-child(2) + span {
	font-size: .8em;
}

/* Blabla au dessus du champs "textarea" */
.champsForm p:first-child{
	text-align: justify;
	padding: 0 1.2rem 1.2rem 1.2rem;
}
/* Message dans le champ "textarea" */
#idMessage {
	font-weight: normal;
	text-align: justify;
}


/* ******************************************************************************************** */
/* ******************************             Horaires           ****************************** */
/* ******************************************************************************************** */

/* la date aujourd'hui */
main > p:first-child{
	font-weight: bold;
	padding: 2.2rem 2rem 1rem 2rem;
}
/* l'heure qu'il est, en rose */
.rose {
	color: #D84591;
}
/* message sur l'état d'ouverture / fermeture de la pharmacie */
main > p:nth-child(2){
	padding: 0 2rem 1rem 2rem;
}
/* position des infos dans la page */
.horaires {
	padding-top: 2rem;
	width: 94%;																	/* modifié en MQ 600 px */
	margin: auto;
}
/* <h2> ajouté pour la validation W3C mais non affiché */
.horaires h2 {
	display: none;	/* Créneaux horaires ... */
}
.horaires article {
	text-align: left;
	padding-bottom: .5rem;
}
/* pour que chaque article, contenant le h3 et les div, ne prenne qu'une seule ligne */
.horaires article div, .horaires article h3 {
	display: inline-block;
}
/*	couleur de fond par défaut, et en OFF, des créneaux horaires d'ouverture */
.horaires article div, #aujourdhui .off {			/*  Attention: il y a d'autres instructions pour #aujourdhui .off  */
	background-color: rgba(148, 193, 29, .2);
}
/* la ligne 'aujourd'hui' est mise en valeur => couleur de fond un peu plus soutenue et police différente  */
#aujourdhui div, #aujourdhui h3 {
	background-color: rgba(148, 193, 29, .5);
	font-weight: bold;
	color: #D84591;
}
/* on ne veut pas mettre le jour actuel et le tiret en fond vert */
.semaine h3, .samedi h3, .semaine .tiret,
#aujourdhui h3, #aujourdhui .tiret {
	background-color: white;
	color: black;
}
/* et le tiret reste en normal */
#aujourdhui .tiret {
	font-weight: normal;
}
/* pour finir de désactiver un créneau passé du jour actuel */
/* on a déjà mis la couleur de fond un peu plus haut        */
#aujourdhui .off {
	color: black;
	font-weight: normal;
}
/* =======================     Pour créer un trait vertical représentant l'heure     ============================= */
.semaine, .samedi {
	position: relative;
}
#aujourdhui #trait {
	background-color: rgba(255, 255, 255, 0); /* en fait, seul importe le 0 final, ie "transparence totale". */
	/* NB: j'avais testé "opacity: 0;" => mais TOUT disaparaît, y compris la border */

	border-left: solid #D84591 2px;
	position: absolute;
	top: 0; /* la valeur du left est déterminée en PHP dans le HTML */
}
#aujourdhui .effacerTrait, .horaires article .effacerTrait {
	background-color: rgba(255, 255, 255, 0); /* en fait, seul importe le 0 final, cf NB ci-dessus */
	position: absolute;
	top: 0;
	left: 0;
}

/* =============================================================================================================== */
/* ========================                                                               ======================== */
/* ========================     largeurs et marges des jours et des créneaux horaires     ======================== */
/* ========================                                                               ======================== */
/* ========================  !!! si modifications => les reporter dans functions.php !!!  ======================== */
/* ========================                                                               ======================== */
/* jours de la semaine */
.horaires article h3 {
	width: 23%;
	background-color: white;
}
/* 8h30 */
.horaires .semaine div:nth-child(2) {
	width: 14%;				/* cette valeur (14%) et celle du segment suivant (14%) ci-dessous            */
	padding-left: 1%;		/* doivent être égales, pour la linéarité de la progression du trait vertical */
}
/* 12h30 */
.horaires .semaine div:nth-child(3) {
	width: 14%;
	text-align: right;
	padding-right: 1%;
}
/* - */
.horaires .semaine .tiret {
	background-color: white;
	width: 5%;
	text-align: center;
}
/* 14h */
.horaires .semaine div:nth-child(5) {
	width: 19%;				/* cette valeur (19%) et celle du segment suivant (19%) ci-dessous            */
	padding-left: 1%;		/* doivent être égales, pour la linéarité de la progression du trait vertical */
}
/* 19h30 */
.horaires .semaine div:nth-child(6) {
	width: 19%;
	text-align: right;
	padding-right: 1%;
}
/* samedi */
.horaires .samedi h3 {
	background-color: white;
	width: 26.75%;      /* cette valeur bizarre permet d'aligner '9h le samedi' avec '9h en semaine' */
}
/* samedi 9h */
.horaires .samedi div:nth-child(2) {
	width: 21.9%;   /* cette valeur bizarre permet d'aligner '16h le samedi' avec '16h en semaine' */
	text-align: left;
	padding-left: 1%;
}
/* samedi 16h */
.horaires .samedi div:nth-child(3) {
	width: 21.9%;   /* cf ci-dessus, et ces 2 valeurs doivent être égales, pour la linéarité de la progression du trait vertical */
	text-align: right;
	padding-right: 1%;
}

/* ========================                                                               ======================== */
/* ========================  !!! si modifications => les reporter dans functions.php !!!  ======================== */
/* ========================                                                               ======================== */
/* =============================================================================================================== */

/* blabla en dessous des horaires */
.horaires p{
	text-align: justify;
	padding: 1% 0;
}
.horaires p:first-of-type {
	padding-top: 4%;
}
.horaires p span {
	font-weight: bold;
}

/* ******************************************************************************************** */
/* ******************************         pharmaDeGarde          ****************************** */
/* ******************************************************************************************** */

.pharGarde {
	display: none;
}






/* ******************************************************************************************** */
/* ******************************              Footer            ****************************** */
/* ******************************************************************************************** */

footer{
	background-color: white;
}

/* Pharmacie Le Reste ... */
footer section:first-of-type{
	text-align: center;
}

footer section:first-of-type p{
	display: inline-block;
	padding: .5rem 1rem;
}

/* Edition CLR */
footer section:last-of-type{
	padding: 1rem 0;
	background-color: #575757;
	color: white;
}

/* ******************************************************************************************** */
/* ******************************          Media queries         ****************************** */
/* ******************************************************************************************** */

/* 																									460 px		*/
@media screen and (min-width: 460px){

	body{
		font-size: 2rem; /* old 1.8 */
	}
	/* On augmente un peu les tailles de polices et le nombre de vignettes en largeur */
	h1{
		font-size: 2.7rem;	/* old 2.5 titre de la page : Pharmacie Le Reste */
		top: 4%;			/* old 0 */
	}
	h2{
		font-size: 1.7rem;	/* old 1.5 sous-titre de la page : Nantes, ... */
	}
	#telIndex{
		left: 27%;			/* old 23% */
	}

	/* page Index : on affiche 2 vignettes en largeur */
	.vignettes article{
		width: 50%;
		float: left;
	}
	section:not(.vignettes){
		/* Supprimer le flottement */
		clear: both;
	}

	/* intro du form. de contact "Envoyez-nous un message ... " */
	.droite h3{
		font-size: 2.35rem;	/* old 2.2rem */
	}

	/* tailles des champs saisis dans le formulaire et des messages associés */

	.champsForm input, .champsForm textarea{
		font-size: 2rem; /* old 1.8 */
	}

	/* Blabla au dessus du champs "textarea" */
	.champsForm p:first-child{
		width: 58%;					/* aucune valeur */
		margin-left: 33%;			/*     avant     */
	}

	.champsForm span{
		font-size: 1.5rem; /* old 1.3 pour les éventuels messages d'erreurs */
	}
	.droite p{
		font-size: 2rem; /* old 1.8 pour le message explicatif après l'envoi du formulaire */
	}

	/*     page prepaOrdonnance     */

	/* marges des § concernant le mode d'emploi */
	.artIntroOrdo {
		padding: 2rem 2rem;				/* old : 1rem   1rem			*/
	}
	/* calage du lien "mode d'emploi" */
	#idModeEmploi p{
		padding: 0 0 2rem 5rem;			/* old : 0 0 2rem 3rem			*/
	}
	/*  § Mode d'emploi  */
	.artModeEmploi {
		margin: 0 2rem 2rem 2rem;		/* old : 0 .5rem 2rem .5rem		*/
	}
}

/* 																									600 px		*/
@media screen and (min-width: 600px){

	/* On augmente encore un peu les tailles */
	body,{
		font-size: 2.3rem; /* old 2 */
	}
	h1{
		font-size: 3.8rem;	/* old 2.7 - titre de la page : Pharmacie Le Reste */
		top: 7%;			/* old 4% */
	}
	h2{
		font-size: 2.5rem;	/* old 1.7 - sous-titre de la page : Nantes, ... */
	}
	#telIndex{
		font-size: 2.5rem;	/* old 2 en mobile - numéro de tel cliquable */
		left: 34%;			/* old 27% */
	}
	#telIndex .fa-volume-control-phone{
		display: none;
	}
	nav{
		padding: 1rem; /* hauteur du bandeau de nav */
	}

	.navigation li{
		font-size: 2.5rem;
		font-weight: 700;
		margin-right: 1rem; /* on éloigne un peu les mots du bord de droite */
		padding-left: 1rem; /* et aussi entre eux */
	}

	.navigation li:first-child{
		left: 0.5rem; /* on éloigne un peu Accueil du bord de gauche */
		top: 0;
	}

	/* Formulaire de contact */

	/* espace entre le bandeau et les infos de contact */
	.formsContOrdo{
		padding: 2rem 0; /* old 1 0 */
	}

	.gauche p:first-child, .gauche p:nth-child(2), .gauche p:nth-child(3){
		font-size: 2.35rem;
	}
	.gauche p:nth-child(3){
		margin-bottom: 3rem; 	/* old 2 marge en dessous de Nantes */
	}

	/* positions de tel, fax et mail */
	.gauche p:nth-child(4),
	.gauche p:nth-child(5),
	.gauche p:nth-child(6){
		margin-bottom: 3rem; /* old 1 */
	}
	.droite:before{
		content: none; /* on annule le trait avec le § précédent puisqu'on passe sur 2 colonnes */
	}

	/* pour que les lignes fines entre les champs ne soient pas trop près du bord de droite */
	.droite section{
		margin: 0 2rem 0 0;
	}

	.formsContOrdo{
		display: inline-block; /* c'est là qu'on passe en 2 colonnes */
		vertical-align: top;
	}

	/* proportion colonne de gauche / colonne de droite */
	.gauche{
		width: 48%;
	}

	.droite{
		width: 50%;
	}

	/* font-awesome pour les icônes "tel", "fax" et "mail" */
	.fa-phone, .fa-fax, .fa-envelope{
		font-size: 3rem; /* old 2 */
	}

	/* tailles des champs saisis dans le formulaire et des messages associés */

	.champsForm input, .champsForm textarea{
		font-size: 2.3rem; /* old 2 */
	}

	.champsForm span{
		font-size: 2rem; /* old 1.5 pour les éventuels messages d'erreurs */
	}

	.droite p{
		font-size: 2.35rem; /* old 1.6 pour le message explicatif après l'envoi du formulaire */
	}

	/* Footer */

	footer section:first-of-type{
		font-size: 1.5rem; /* old 1.3 */
	}

	footer section:first-of-type p{
		padding: 1rem 1rem; /* old .5rem 1rem */
	}

	/*     page prepaOrdonnance     */

	/* marges des § concernant le mode d'emploi */
	.artIntroOrdo {
		padding: 3rem 3rem;				/* old : 2rem   2rem			*/
	}
	/* calage du lien "mode d'emploi" */
	#idModeEmploi p{
		padding: 0 0 3rem 5rem;			/* old : 0 0 2rem 5rem			*/
	}
	/*  § Mode d'emploi  */
	.artModeEmploi {
		padding: 3rem;					/* old : 2rem					*/
		margin: 0 3rem 3rem 3rem;		/* old : 0 2rem 2rem 2rem		*/
	}

	/*        page horaires         */
	.horaires {
		width: 85%;						/* old : 90%   */
	}
}


/* 																									900 px		*/
@media screen and (min-width: 900px){

	body,{
		font-size: 2.5rem; /* old 2.3 */
	}
	/* on agrandit un peu la croix */
	header section img{
		width: 16%;
		top: 2rem;
		left: 2rem;
	}

	/* titre : Pharmacie ... */
	h1{
		font-size: 4.5rem;	/* old 3.8 */
		top: 8%;			/* old 7% */
		left: 21%;			/* old 16% en mobile */
	}

	/* sous-titre : Nantes ... */
	h2{
		font-size: 2.8rem;	/* old 2.5 */
		left: 21%;			/* old 16% en mobile */
	}
	#telIndex{
		font-size: 2.8rem;	/* old 2.5 */
	}

	/* page Index : on passe en 2 vignettes en largeur */
	.vignettes article{
		width: 33.33%;
	}

	/* Formulaire de contact */
	
	/* FB et G+ */
	.gauche p:nth-child(7), .gauche p:nth-child(8){
		display: inline-block;
		height: 4rem;
		width: 4rem;
	}

	/* intro du form. de contact "Envoyez-nous un message ... " */
	.droite h3{
		font-size: 2.5rem;	/* old 2.35rem */
	}

	/* tailles des champs saisis dans le formulaire et des messages associés */

	.champsForm input, .champsForm textarea{
		font-size: 2.5rem; /* old 2.3 */
	}


	/* Footer */

	footer section:first-of-type{
		font-size: 1.8rem; /* old 1.5 */
	}

	footer section:first-of-type p{
		padding: 1.5rem 1.5rem; /* old .5rem 1rem */
	}
}

/* 																									braille 		*/
@media braille{

}
