/* Gris clair : #ADADAD   Gris : #575757   Orange : #F29200   Marron : #7B6A57   Vert : #94C11D   Fuschia : #D84591   Mauve : #951A80 */

/* Police importée de Google fonts */
/* (positionner cet import sur la 1ère ligne du fichier CSS, sinon ça peut bugger) */
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,700');

/* Supprimer toutes les marges de toutes les balises */
*{
	margin: 0;
	padding: 0;
	border: solid orange 0px;
}

/* Configurer l'utilisation des 'rem' => 1 rem = 10 px */
html{ font-size: 62.5%; }  /* => associé à body{ font-size: 1.5rem; } */

/* les crochets [] permettent d'identifier un ATTRIBUT */
a:not([target]){ text-decoration: none; }

/* img = 100% de la largeur du parent */
img{
	width: 100%; /* avant c'était 'max-width', mais j'ai l'impression que 'width' tout court est plus logique ... */
}

body{
	/* ligne associée à l'import de la police Google fonts */
	font-family: 'Advent Pro', sans-serif;
 	text-align: center;/* étant donné que le texte est majoritairement centré dans tout le doc */
 	background-color: #575757;
 	max-width: 95rem;
 	margin: auto;
}
main{
	background-color: white;
}

body, h3{
	font-size: 1.8rem; /* taille par défaut de toutes les polices + les h3 */
	/* 		horaires.php : 																							*/
	/* on utilise le h3 pour chaque jour de la semaine, il FAUT donc qu'il ait la même taille que celle du body 	*/
	/* sinon, le trait de l'heure se décale vers le haut, les jours sont écrits plus gros ... bref c'est la merde ! */
}
h1{
	font-size: 2.5rem; /* titre de la page : Pharmacie Le Reste */
}
h2{
	font-size: 1.5rem; /* sous-titre de la page : Nantes, ... */
}
#iTelIndex{
	font-size: 2rem; /* sous-titre de la page : numéro de tel cliquable */
}
.cVignettes article h4{
	font-size: 2.5rem; /* titres des vignettes de la page Index */
}
.cGammes article h4 {
	font-size: 3.5rem; /* titres des photos § de la page gammesProduits */
}
.fa-phone, .fa-fax, .fa-envelope{
	font-size: 2rem; /* taille des icônes font-awesome : tel, fax et mail */
}
.cChampForm input, .cChampForm textarea{
	font-size: 1.8rem;
}
.cChampForm p span{
	font-size: 1.3rem; /* messages d'erreurs dans les form. contact, ordonnance et commande */
}
.cColDroite h4{
	font-size: 2.2rem; /* intro du form. de contact "Envoyez-nous un message ... " */
}
.cColDroite{
	font-size: 1.8rem; /* coordonnées de la pharmacie */
}
.cHumour p:last-of-type {
	font-size: 1.4rem;   /* humour.php, "Merci à ..." */
}
footer section:first-of-type{
	font-size: 1.3rem; /* Pharmacie Le Reste ... */
}

h3{
	font-weight: 400;  /* on les met tous en 'normal' par défaut */
	/*height: 98%;*/
}

/* ******************************************************************************************** */
/* ******************************        Bandeau du haut         ****************************** */
/* ******************************************************************************************** */

/* Image de fond */
header section{
	background-color: lightgrey;                /* dans le cas où l'image ne peut être chargée, ça fait un fond par défaut */
	background-image: url('../img/fond.jpg'), url('../img/fond_light.jpg');
	/* Les navigateurs chargeront en premier les images spécifiées en fin de ligne (fond_light.jpg)
	   et chargeront ensuite vers la gauche (fond.jpg). */
	background-size: cover;
	margin: auto;
	padding-top: 15%;
	padding-bottom: 15%;
	position: relative; /* pour positionner le h1, le h2 et la croix en haut à gauche */
}

/* Image de la croix positionnée en haut à gauche */
header section img{
	width: 11%;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

/* titre + sous-titre du bandeau supérieur */
h1, h2{
	color: #951A80;
	font-weight: 700;
	position : absolute;
	left: 16%;
}
/* titre : Pharmacie ... */
h1{
	top: 0;
}
/* sous-titre : Nantes ... */
h2{
	top: 28%;
}

/* numéro de téléphone cliquable */
#iTelIndex {
	color: #951A80;
	font-weight: 700;
	position: absolute;
	top: 52%;
	left: 23%;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
#iTelIndex a:link, #iTelIndex a:visited, #iTelIndex a:hover, #iTelIndex a:focus, #iTelIndex a:active{
	color: #951A80;
}


/* ******************************************************************************************** */
/* *******************************       Menu de navigation       ***************************** */
/* ******************************************************************************************** */
nav{
	background-color: #94C11D;
	text-align: right;
	padding: 0.5rem;
}

nav a{
	color: white;
}

ul{
	margin:	auto;
	position: relative; /* à cause du 'first li' */
}

.cNavigation li{
	display: inline-block;
	margin-right: 0rem;
	padding-left: .4rem;
	font-weight: 400;
}

.cNavigation li:first-child{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0; /* Bien qu'il y ait un 'left 0' juste au dessus, ça semble nécessaire ... */
	padding-left: 0;
}

/****************************************************/
/*               Bandeau de connexion               */
/****************************************************/
.cBandeauConnex{
	background-color: #ADADAD;
	width: 96%;
	padding: 0 2%;
}
.cClientConnecte{
	display: inline-block;
	width: 65%;
	text-align: left;
}
.cLienConnex{
	display: inline-block;
	width: 34%;
	text-align: right;
}
.cLienConnex a{
	color: black;
}

/****************************************************/
/*           pages connexion et inscription         */
/****************************************************/
.cConnexion h3, .cConnexionInscription h3, .cInscription h3{
	padding: 2rem 0;
	font-weight: 700;
}
/* pour que les lignes fines entre les champs ne fassent pas toute la largeur de la colonne */
.cConnexion, .cInscription{
	margin: 0 1rem;
}

/****************************************************/
/*                  page connexion                  */
/****************************************************/

/* la petite ligne de séparation avec le § sur l'inscription */
/* est codée dans la partie 'page contact' ci-dessous        */

/* on met un peu d'espace au-dessus du lien 'inscription' */
.cConnexionInscription p:first-of-type{
	padding-bottom: 0.5rem;
}
/* on met de la couleur sur le lien 'inscription' */
.cConnexionInscription a{
	color: #7B6A57;
	font-weight: 700;
}
.cConnexionInscription a:hover, .cConnexionInscription a:focus, .cConnexionInscription a:active{
	color: #F29200;
}
/* un peu d'espace avant le footer */
.cConnexionInscription{
	padding-bottom: 4rem;
}

/****************************************************/
/*                 page inscription                 */
/****************************************************/

/* pour positionner latéralement les civilités dans le formulaire */
.cInscription .cChampForm [for='iCiviliteM'] {
	padding-right: 25%;
}


/* ******************************************************************************************** */
/* ******************************           page index           ****************************** */
/* ******************************************************************************************** */

.cIntro {
	padding: 4rem 0 6rem 0;
}

/* Ces <span> sont ajoutés dans la fonction 'pharmacieOuverte' et non directement dans index.html */
.cIntro span {
	font-weight: bold;
}
.cIntro .cOuverte {
	color: #4DBC1C;
}
.cIntro .cFermee {
	color: #FF4141;
}
.cIntro .cOuvreDans {
	color: black;
}
.cIntro .cFermeDans {
	color: #F29200;
}
/* <h3> ajouté pour la validation W3C mais non affiché, sauf en braille dans les media queries */
.cIntro h3, .cVignettes h3 {
	display: none;	/* Etat actuel d'ouverture ... et Services proposés ... */
}
.cVignettes article{
	position: relative; /* pour que les <a> et les <img> soient superposés */
	/*margin-bottom: -0.6rem;  sinon, il y a une petite bande blanche en dessous de l'image ... ??!!   */
}
.cVignettes article a{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #94C11D;
	color: white;
	width: 100%;
	height: 100%;
	font-weight: 700;
	/*line-height: 1.4em;  line-height = hauteur de l'interligne, si jamais le nom de la vignette ne tient pas sur une seule ligne */
	opacity: 0;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
.cVignettes article a:hover, .cVignettes article a:focus, .cVignettes article a:active{
	opacity: .85;
}

.cVignettes article h4{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* pour Chrome */
	   -moz-transform: translate(-50%, -50%); /* pour Firefox */
			transform: translate(-50%, -50%);
	width: 100%;
}

/* pour supprimer l'espace de qqs pixels sous l'image */
/* alsacreations.com/astuce/lire/52-espaces-sous-les-images.html */
.cVignettes article img {
	display: block;
}


/* ******************************************************************************************** */
/* ******************************          page contact          ****************************** */
/* ******************************************************************************************** */

/* <h3> ajouté pour la validation W3C mais non affiché */
.cFormContact h3{
	display: none;
}

/* ********************     colonne de gauche : formulaire de contact      ******************** */


/* message d'introduction au formulaire : "Envoyez-nous un message ... " */
.cColGauche h4{
	padding: 2rem 0;
	font-weight: 700;
}

/* "la saisie de tous les champs ..." */
.cFormContact section span:first-of-type{
	font-size: 1.2rem;
}

/* pour positionner latéralement les civilités dans le formulaire */
.cFormContact .cChampForm [for='iCiviliteM'] {
	padding-right: 25%;
}

/* pour que les lignes fines entre les champs ne fassent pas toute la largeur de la colonne */
.cColGauche section{
	margin: 0 1rem;
}

/* lignes fines entre les champs, taille des champs ... */
.cChampForm{
	border: none;
	border-top: .1rem solid #951A80;
	padding: 1.5rem 0;
	width: 100%;
	text-align: right;
}
/* Cette partie est commune aux 5 formulaires : contact, connexion, inscription, ordonnance et commande */
/* proportions entre label et input pour les champs du formulaire */
.cChampForm input:not([type='radio']), .cChampForm textarea{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	width: 62%;
	margin-left: 3%;
	margin-right: 1.5%;
}
.cChampForm [type='radio']{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	margin-left: 5%	
}

/* pour bloquer la largeur du champ texte */
.cChampForm textarea{
	min-width: 62%;
	max-width: 62%;
	margin-left: 3%;
}

/* label 'Message' calé en haut, ligne fine sous le message */
.cChampForm [for='iMessageTextarea']{
	vertical-align: top;
}

/* messages d'erreurs dans les form. contact, ordonnance et commande */
.cChampForm p span{
	text-align: right;
	padding-right: 1.2rem;
	color: red;
}

/* proportion entre label et button pour le bouton de validation */
.cBoutonOk{
	text-align: right;
}

/* déco du bouton de validation du formulaire */
.cBoutonOk button{
	background-color: #7B6A57;
	color: white;
	width: auto;
	font-weight: 400;
	padding: 1rem;
	margin-right: 2rem;
	border: none;
	border-radius: 5px;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
.cBoutonOk button:hover, .cBoutonOk button:focus, .cBoutonOk button:active{
	background-color: #F29200;
}

/* Espaces au dessus et au dessous du message de confirmation d'envoi du formulaire */
.cFormContact .cArtiMessageConfirm {
	padding: 3rem 1rem 0;
}

/* ************     colonne de droite : coordonnées et liens vers réseaux sociaux      ************ */

/* pages connexion et page contact        */
/* ligne fine de séparation entre les 2 § */
/* (en version mobile uniquement !)       */
.cColDroite:before, .cConnexionInscription:before{
	content: '';
	display: block;
	height: .2rem;
	width: 4rem;
	margin: 2rem auto 0;
	background-color: #951A80;
}

/* espace en dessous des icônes fb et g+ */
.cColDroite {
	padding-bottom: 4rem;
}

/* marge au dessus de "Pharmacie Le Reste" */
.cColDroite p:first-of-type{
	padding-top: 3rem;
}

/* marge en dessous de Nantes */
.cColDroite p:nth-of-type(3){
	padding-bottom: 2rem;
}

/* positions de tel, fax et mail */
/* on les décale très légèrement vers la gauche puisque les icônes les avaient décalées vers la droite */
.cColDroite p:nth-of-type(4),
.cColDroite p:nth-of-type(5),
.cColDroite p:nth-of-type(6){
	padding-bottom: 1rem;
	position: relative;
	top: 0;
	left: -0.8rem;
}

/* tel en gras et souligné */
#iTelContact{
	font-weight: bold;
	text-decoration: underline;
}
/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
#iTelContact a:link, #iTelContact a:visited, #iTelContact a:hover, #iTelContact a:focus, #iTelContact a:active{
	color: black;
}

/* soulignement et coloration du mail quand on passe dessus */
.cColDroite p:nth-of-type(6) a{
	text-decoration: underline;
}

.cColDroite p:nth-of-type(6) a:link, .cColDroite p:nth-of-type(6) a:visited{
	color: black;
}

.cColDroite p:nth-of-type(6) a:hover, a:focus, a:active{
	color: #F29200;
}

/* espace avant les liens FB et G+ */
.cColDroite p:nth-of-type(6){
	margin-bottom: 3rem;
}


/* fontawesome pour les icônes 'tel', 'fax' et 'mail' */
.cColDroite .fa-phone, .cColDroite .fa-fax, .cColDroite .fa-envelope{
	margin-right: 2rem;
	position: relative;
	top: 0.2rem;
	left: 0;
}

/* icônes/liens vers Facebook et Google+ */
.cColDroite p:nth-of-type(7), .cColDroite p:nth-of-type(8){
	display: inline-block;
	height: 3rem;
	width: 3rem;
	margin: 0 3rem; /* pour les espacer un peu */
	position: relative;
}

.cColDroite .cFaceGool{
	position: absolute;
	top: 0;
	left: 0;
}

/* NB : il faut respecter cet ordre de déclaration : link < visited < hover < focus < active */
/*      (pour que visited n'écrase pas hover, et que la navigation au clavier se passe bien sous IE : hover > focus > active)*/
.cColDroite .cCouleurNoire:hover, .cColDroite .cCouleurNoire:focus, .cColDroite .cCouleurNoire:active{
	display: none;
}
/* j'ai essayé avec visibility, z-index ... dessus / dessous ... rien n'y fait, c'est toujours "oscillant" */


/* Fin de Contact */

/* ******************************************************************************************** */
/* ******************************        page ordonnance         ****************************** */
/* ******************************          + commande            ****************************** */
/* ******************************************************************************************** */

/* espace entre le bandeau et le formulaire */
/* et entre le formulaire et le footer      */
.cFormOrdo, .cFormComm{
	padding: 2rem 0; /* si on met un margin, il prend la couleur de fond du body */
}
.cFormOrdo h3, .cFormComm h3 {
	font-weight: bold;
}

/* Espaces au dessus et au dessous du message de confirmation d'envoi du formulaire */
.cFormOrdo .cArtiMessageConfirm, .cFormComm .cArtiMessageConfirm {
	padding: 10% 8% 45%;
}
/* Espace entre les 2 phrases du message de confirmation d'envoi du formulaire */
.cFormOrdo .cArtiMessageConfirm p:first-of-type, .cFormComm .cArtiMessageConfirm p:first-of-type {
	padding-bottom: 8%;
}

/* marges autour du § d'introduction situé au dessus du formulaire */
.cArtiIntro {
	padding: 1rem 1rem;      /*     haut et bas : 1rem      gauche et droite : 1rem      */
	text-align: justify;
}

/* N'oubliez pas l'original de l'ordonnance ... */
.cCouleurRouge {
	color: red;
	font-weight: bold;
}

/* calage et couleur(s) du lien "mode d'emploi" */
#iModeEmploi h4{
	padding: 0 0 2rem 3rem;
}
#iModeEmploi:link, #iModeEmploi:visited {
	color: #F29200;
}
#iModeEmploi:hover, #iModeEmploi:focus, #iModeEmploi:active {
	color: black;
}

/* par défaut, le mode d'emploi est masqué */
#iModeEmploi + .cModeEmploi {
	display: none;
}

/* quand on clique sur Mode d'emploi, ça le déplie */
#iModeEmploi:active + .cModeEmploi, #iModeEmploi:focus + .cModeEmploi {
	display: block;
}

/* calage à gauche dans l'article du mode d'emploi */
.cFormOrdo article:first-of-type{
	text-align: left;
}

/*  § Mode d'emploi  */
.cFormOrdo .cModeEmploi {
	padding: 2rem;
	margin: 0 .5rem 2rem .5rem;
	background-color: #5B5B5B;
	color: white;
	text-align: left;
}

/* centrage de l'intro */
.cFormOrdo .cModeEmploi div {
	font-style: normal;
	text-align: center;
	margin-bottom: 2rem;
}

/* les 4 étapes en gras */
.cFormOrdo .cModeEmploi span{
	font-weight: bold;
	text-decoration: underline;
}

/* un peu d'espace entre les différents points du mode d'emploi */
.cFormOrdo .cModeEmploi ol li, .cFormOrdo .cModeEmploi ol li span{
	margin: 1.5rem 0;
}

/* message pour l'accès impossible aux fichiers sur certains smartphones */
.cFormOrdo .cModeEmploi ul li p:nth-of-type(2){
	color: orange;
	font-weight: bold;
}

.cFormOrdo .cModeEmploi li{
	margin-left: 1rem;
}

.cFormOrdo .cModeEmploi ul{
	margin-left: 2rem;
}

/* saisie obligatoire des champs */
.cSaisieObligatoire {
	font-size: .8em;
}

/* pour positionner latéralement les civilités dans le formulaire */
.cFormOrdo .cChampForm [for='iCiviliteM'], .cFormComm .cChampForm [for='iCiviliteM'] {
	padding-right: 25%;
}

/* blabla au dessus du champ 'textarea' */
.cFormOrdo .cChampForm p:first-child{
	text-align: justify;
	padding: 0 1.2rem 1.2rem 1.2rem;
}
/* Message dans le champ 'textarea' */
#iMessageTextarea {
	font-weight: normal;
	text-align: justify;
}


/* ******************************************************************************************** */
/* ******************************             Horaires           ****************************** */
/* ******************************************************************************************** */

/* la date aujourd'hui */
main > p:first-child{
	font-weight: bold;
	padding: 2.2rem 2rem 1rem 2rem;
}
/* l'heure qu'il est, en rose */
.cCouleurRose {
	color: #D84591;
}
/* message sur l'état d'ouverture / fermeture de la pharmacie */
main > p:nth-child(2){
	padding: 0 2rem 1rem 2rem;
}
/* position des infos dans la page */
.cHoraires {
	padding-top: 2rem;
	width: 94%;																	/* modifié en MQ 600 px */
	margin: auto;
}
/* <h2> ajouté pour la validation W3C mais non affiché */
.cHoraires h2 {
	display: none;	/* Créneaux horaires ... */
}
.cHoraires article {
	text-align: left;
	padding-bottom: .5rem;
}
/* pour que chaque article, contenant le h3 et les div, ne prenne qu'une seule ligne */
.cHoraires article div, .cHoraires article h3 {
	display: inline-block;
}
/* - couleur de fond par défaut des créneaux horaires d'ouverture */
/* - couleur de fond d'un créneau écoulé du jour en cours         */
.cHoraires article div, #iAujourdhui .cCreneauOff {			/*  Attention: il y a d'autres instructions pour #iAujourdhui .cCreneauOff  */
	background-color: rgba(148, 193, 29, .2);
}
/* la ligne 'aujourd'hui' est mise en valeur => couleur de fond un peu plus soutenue et police différente  */
#iAujourdhui div, #iAujourdhui h3 {
	background-color: rgba(148, 193, 29, .5);
	font-weight: bold;
	color: #D84591;
}
/* on ne veut pas mettre le jour actuel et le tiret en fond vert */
.cSemaine h3, .cSamedi h3, .cSemaine .cTiret,
#iAujourdhui h3, #iAujourdhui .cTiret {
	background-color: white;
	color: black;
}
/* et le tiret reste en normal */
#iAujourdhui .cTiret {
	font-weight: normal;
}
/* pour finir de désactiver un créneau passé du jour actuel */
/* on a déjà mis la couleur de fond un peu plus haut        */
#iAujourdhui .cCreneauOff {
	color: black;
	font-weight: normal;
}
/* =======================     Pour créer un trait vertical représentant l'heure     ============================= */
.cSemaine, .cSamedi {
	position: relative;
}
#iAujourdhui #iTraitHoraire {
	background-color: rgba(255, 255, 255, 0); /* en fait, seul importe le 0 final, ie 'transparence totale'. */
	/* NB: j'avais testé 'opacity: 0;' => mais TOUT disaparaît, y compris la border */

	border-left: solid #D84591 2px;
	position: absolute;
	top: 0; /* la valeur du left est déterminée en PHP dans le HTML */
}
#iAujourdhui .cEffacerTrait, .cHoraires article .cEffacerTrait {
	background-color: rgba(255, 255, 255, 0); /* en fait, seul importe le 0 final, cf NB ci-dessus */
	position: absolute;
	top: 0;
	left: 0;
}

/* =============================================================================================================== */
/* ========================                                                               ======================== */
/* ========================     largeurs et marges des jours et des créneaux horaires     ======================== */
/* ========================                                                               ======================== */
/* ========================  !!! si modifications => les reporter dans functions.php !!!  ======================== */
/* ========================                                                               ======================== */
/* jours de la semaine */
.cHoraires article h3 {
	width: 23%;
	background-color: white;
}
/* 8h30 */
.cHoraires .cSemaine div:nth-child(2) {
	width: 14%;				/* cette valeur (14%) et celle du segment suivant (14%) ci-dessous            */
	padding-left: 1%;		/* doivent être égales, pour la linéarité de la progression du trait vertical */
}
/* 12h30 */
.cHoraires .cSemaine div:nth-child(3) {
	width: 14%;
	text-align: right;
	padding-right: 1%;
}
/* - */
.cHoraires .cSemaine .cTiret {
	background-color: white;
	width: 5%;
	text-align: center;
}
/* 14h */
.cHoraires .cSemaine div:nth-child(5) {
	width: 19%;				/* cette valeur (19%) et celle du segment suivant (19%) ci-dessous            */
	padding-left: 1%;		/* doivent être égales, pour la linéarité de la progression du trait vertical */
}
/* 19h30 */
.cHoraires .cSemaine div:nth-child(6) {
	width: 19%;
	text-align: right;
	padding-right: 1%;
}
/* samedi */
.cHoraires .cSamedi h3 {
	background-color: white;
	width: 26.75%;      /* cette valeur bizarre permet d'aligner '9h le samedi' avec '9h en semaine' */
}
/* samedi 9h */
.cHoraires .cSamedi div:nth-child(2) {
	width: 21.9%;   /* cette valeur bizarre permet d'aligner '16h le samedi' avec '16h en semaine' */
	text-align: left;
	padding-left: 1%;
}
/* samedi 16h */
.cHoraires .cSamedi div:nth-child(3) {
	width: 21.9%;   /* cf ci-dessus, et ces 2 valeurs doivent être égales, pour la linéarité de la progression du trait vertical */
	text-align: right;
	padding-right: 1%;
}

/* ========================                                                               ======================== */
/* ========================  !!! si modifications => les reporter dans functions.php !!!  ======================== */
/* ========================                                                               ======================== */
/* =============================================================================================================== */

/* blabla en dessous des horaires */
.cHoraires p{
	text-align: justify;
	padding: 1% 0;
}
.cHoraires p:first-of-type {
	padding-top: 4%;
}
.cHoraires p span {
	font-weight: bold;
}

/* ******************************************************************************************** */
/* ******************************         pharmaDeGarde          ****************************** */
/* ******************************************************************************************** */

.cPharmaDeGarde {
	display: none;
}

/* ******************************************************************************************** */
/* ******************************             humour             ****************************** */
/* ******************************************************************************************** */

/* section humour */
.cHumour {
	padding: 2rem;
	min-height: 31rem; /* pour ne pas que le bas de l'écran remonte trop haut */
	position: relative;
}

/* titre "Thérapie par l'humour" */
.cHumour h3 {
	padding: 3rem 0 5rem;
	font-weight: bold;
}

/* la blague */
.cHumour p:first-of-type {
	padding-bottom: 8rem; /* permet de laisser toujours une marge entre la fin de la blague et (*) */
}

/* Merci à ... */
.cHumour p:last-of-type {
	font-family: Arial;
	text-align: left;
	position: absolute;
	bottom: 2rem;		/* calé en bas, juste au dessus du footer */
	left: 2rem;
}
.cHumour a {
	text-decoration: underline;
}

/* ******************************************************************************************** */
/* ******************************         gammesProduits         ****************************** */
/* ******************************************************************************************** */

/* titre "Les Marques que ..." */
.cGammes h3 {
	padding: 3rem 0 5rem;
	font-weight: bold;
}

/* image d'introduction au § */
.cGammes article .cImageDeco img {
	display: block; 				/* pour supprimer l'espace de qqs pixels sous l'image, cf index.php pour l'explication */
	opacity: 0.3;
}

/* pour caler les titres des articles sur l'image */
.cGammes article .cImageDeco {
	position: relative;
	border: 0.3rem solid #951A80;
}

/* titres en mauve, placé sur l'image */
.cGammes article h4 {
	color: #951A80;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); /* pour Chrome */
	   -moz-transform: translate(-50%, -50%); /* pour Firefox */
			transform: translate(-50%, -50%);
	width: 100%;
}

/* organisation des textes et des images associées */
.cGammes article div p, .cGammes article div:not(.cImageDeco) img {
	display: inline-block;
	vertical-align: middle;
	padding: 1%;
}

/* organisation des textes et des images associées : proportion texte / image */
.cGammes article div p {
	width: 55%;
}
.cGammes article div:not(.cImageDeco) img {
	width: 40%;
}

/* alternance de gris et de blanc entre les différents produits d'un même § */
.cGammes article div:nth-child(2n+1) {
	background-color: #EFEFFF;
}
/* réglage de la taille des images                                                              =>  à ajouter dans les media queries +++++++++++++   */
/*.cGammes article div:not(.cImageDeco) img {
	width: 80%;
}
*/

/* ******************************************************************************************** */
/* ******************************              Footer            ****************************** */
/* ******************************************************************************************** */

/* <h3> ajouté pour la validation W3C mais non affiché */
footer h3 {
	display: none;
}

footer{
	background-color: white;
}

/* Pharmacie Le Reste ... */
footer section:first-of-type{
	text-align: center;
}

footer section:first-of-type p{
	display: inline-block;
	padding: .5rem 1rem;
}

/* Edition CLR */
footer section:last-of-type{
	padding: 1rem 0;
	background-color: #575757;
	color: white;
}

/* ******************************************************************************************** */
/* ******************************          Media queries         ****************************** */
/* ******************************************************************************************** */

/* 																									460 px		*/
@media screen and (min-width: 460px){

	body, h3{
		font-size: 2rem; /* old 1.8 */
	}
	/* On augmente un peu les tailles de polices et le nombre de vignettes en largeur */
	h1{
		font-size: 2.7rem;	/* old 2.5 titre de la page : Pharmacie Le Reste */
		top: 4%;			/* old 0 */
	}
	h2{
		font-size: 1.7rem;	/* old 1.5 sous-titre de la page : Nantes, ... */
	}
	#iTelIndex{
		left: 27%;			/* old 23% */
	}

	/* page Index : on affiche 2 vignettes en largeur */
	.cVignettes article{
		width: 50%;
		float: left;
	}
	section:not(.cVignettes){
		/* Supprimer le flottement */
		clear: both;
	}

	/* intro du form. de contact "Envoyez-nous un message ... " */
	.cColDroite h4{
		font-size: 2.35rem;	/* old 2.2rem */
	}

	/* tailles des champs saisis dans le formulaire et des messages associés */

	.cChampForm input, .cChampForm textarea{
		font-size: 2rem; /* old 1.8 */
	}

	/* blabla au dessus du champ 'textarea' */
	.cFormOrdo .cChampForm p:first-child{
		width: 58%;					/* aucune valeur */
		margin-left: 33%;			/*     avant     */
	}

	/* messages d'erreurs dans les form. contact, ordonnance et commande */
	.cChampForm p span{
		font-size: 1.5rem; /* old 1.3 */
	}
	.cColDroite{
		font-size: 2rem; /* old 1.8 coordonnées de la pharmacie */
	}

	/*     page prepaOrdonnance     */

	/* marges autour du § d'introduction situé au dessus du formulaire */
	.cArtiIntro {
		padding: 2rem 2rem;				/* old : 1rem   1rem			*/
	}
	/* calage du lien "mode d'emploi" */
	#iModeEmploi p{
		padding: 0 0 2rem 5rem;			/* old : 0 0 2rem 3rem			*/
	}
	/*  § Mode d'emploi  */
	.cModeEmploi {
		margin: 0 2rem 2rem 2rem;		/* old : 0 .5rem 2rem .5rem		*/
	}

	/*           page humour           */

	/* "Merci à ..." */
	.cHumour p:last-of-type {
		font-size: 1.6rem;				/* old : 1.4rem					*/
	}

}

/* 																									600 px		*/
@media screen and (min-width: 600px){

	/* On augmente encore un peu les tailles */
	body, h3{
		font-size: 2.3rem; /* old 2 */
	}
	h1{
		font-size: 3.8rem;	/* old 2.7 - titre de la page : Pharmacie Le Reste */
		top: 7%;			/* old 4% */
	}
	h2{
		font-size: 2.5rem;	/* old 1.7 - sous-titre de la page : Nantes, ... */
	}
	#iTelIndex{
		font-size: 2.5rem;	/* old 2 en mobile - numéro de tel cliquable */
		left: 34%;			/* old 27% */
	}
	#iTelIndex .fa-volume-control-phone{
		display: none;
	}
	nav{
		padding: 1rem; /* hauteur du bandeau de nav */
	}

	.cNavigation li{
		font-size: 2.5rem;
		font-weight: 700;
		margin-right: 1rem; /* on éloigne un peu les mots du bord de droite */
		padding-left: 1rem; /* et aussi entre eux */
	}

	.cNavigation li:first-child{
		left: 0.5rem; /* on éloigne un peu Accueil du bord de gauche */
		top: 0;
	}

	/* Formulaire de contact */

	/* espace entre le bandeau et les infos de contact */
	.cFormContact{
		padding: 3rem 0; /* old 1 0 */
	}

	/* tailles des champs saisis dans le formulaire et des messages associés */
	/* + taille des coordonnées de la colonne d'à côté */
	.cFormContact section form, .cColDroite{
		font-size: 2.1rem; /* old 2 */
	}

	/* messages d'erreurs dans les form. contact, ordonnance et commande */
	.cChampForm p span{
		font-size: 2rem; /* old 1.5 */
	}

	/* "la saisie de tous les champs ..." */
	.cFormContact section span:first-of-type{
		font-size: 1.5rem; 		/* old 1.2 */
	}

	/* pour positionner latéralement les civilités dans le formulaire de contact */
	.cFormContact .cChampForm [for='iCiviliteM'] {
		padding-right: 10%;
	}


	/* coordonnées de la pharmacie */
	.cColGauche p:first-of-type, .cColGauche p:nth-of-type(2), .cColGauche p:nth-of-type(3){
		font-size: 2.35rem;
	}
	.cColGauche p:nth-of-type(3){
		margin-bottom: 3rem; 	/* old 2 marge en dessous de Nantes */
	}

	/* positions de tel, fax et mail */
	.cColGauche p:nth-of-type(4),
	.cColGauche p:nth-of-type(5),
	.cColGauche p:nth-of-type(6){
		margin-bottom: 3rem; /* old 1 */
	}
	.cColDroite:before{
		content: none; /* on annule le trait avec le § précédent puisqu'on passe sur 2 colonnes */
	}

	/* pour que les lignes fines entre les champs ne soient pas trop près du bord de droite */
	.cColDroite section{
		margin: 0 2rem 0 0;
	}

	.cFormContact{
		display: inline-block; /* c'est là qu'on passe en 2 colonnes */
		vertical-align: top;
	}

	/* proportion colonne de gauche / colonne de droite */
	.cColGauche{
		width: 48%;
	}

	.cColDroite{
		width: 50%;
	}

	/* font-awesome pour les icônes 'tel', 'fax' et 'mail' */
	.fa-phone, .fa-fax, .fa-envelope{
		font-size: 3rem; /* old 2 */
	}


	/* Footer */

	footer section:first-of-type{
		font-size: 1.5rem; /* old 1.3 */
	}

	footer section:first-of-type p{
		padding: 1rem 1rem; /* old .5rem 1rem */
	}

	/*     page prepaOrdonnance     */

	/* marges autour du § d'introduction situé au dessus du formulaire */
	.cArtiIntro {
		padding: 3rem 3rem;				/* old : 2rem   2rem			*/
	}
	/* calage du lien "mode d'emploi" */
	#iModeEmploi p{
		padding: 0 0 3rem 5rem;			/* old : 0 0 2rem 5rem			*/
	}
	/*  § Mode d'emploi  */
	.cModeEmploi {
		padding: 3rem;					/* old : 2rem					*/
		margin: 0 3rem 3rem 3rem;		/* old : 0 2rem 2rem 2rem		*/
	}

	/*        page horaires         */
	.cHoraires {
		width: 85%;						/* old : 90%   */
	}

	/*           page humour           */

	/* taille minimale obligatoire de la section */
	.cHumour {
		min-height: 45rem;
	}

	/* "Merci à ..." */
	.cHumour p:last-of-type {
		font-size: 1.8rem;				/* old : 1.6rem					*/
	}
}


/* 																									900 px		*/
@media screen and (min-width: 900px){

	body, h3{
		font-size: 2.5rem; /* old 2.3 */
	}
	/* on agrandit un peu la croix */
	header section img{
		width: 16%;
		top: 2rem;
		left: 2rem;
	}

	/* titre : Pharmacie ... */
	h1{
		font-size: 4.5rem;	/* old 3.8 */
		top: 8%;			/* old 7% */
		left: 21%;			/* old 16% en mobile */
	}

	/* sous-titre : Nantes ... */
	h2{
		font-size: 2.8rem;	/* old 2.5 */
		left: 21%;			/* old 16% en mobile */
	}

	#iTelIndex{
		font-size: 2.8rem;	/* old 2.5 */
	}

	/* page Index : on passe en 2 vignettes en largeur */
	.cVignettes article{
		width: 33.33%;
	}


	/* page connexion : espace au-dessus du lien 'inscription' */
	.cConnexionInscription p:first-of-type{
	padding-bottom: 2rem;
}

	/* Formulaire de contact */

	/* "la saisie de tous les champs ..." */
	.cFormContact section span:first-of-type{
		font-size: 1.7rem; 		/* old 1.5 */
	}

	/* FB et G+ */
	.cColGauche p:nth-of-type(7), .cColGauche p:nth-of-type(8){
		display: inline-block;
		height: 4rem;
		width: 4rem;
	}

	/* intro du form. de contact "Envoyez-nous un message ... " */
	.cColDroite h4{
		font-size: 2.5rem;	/* old 2.35rem */
	}

	/* tailles des champs saisis dans le formulaire et des messages associés */

	.cChampForm input, .cChampForm textarea{
		font-size: 2.5rem; /* old 2.3 */
	}

	/*           page humour           */
	/* "Merci à ..." */
	.cHumour p:last-of-type {
		font-size: 2rem;				/* old : 1.8rem	*/
	}

	/* Footer */

	footer section:first-of-type{
		font-size: 1.8rem; /* old 1.5 */
	}

	footer section:first-of-type p{
		padding: 1.5rem 1.5rem; /* old .5rem 1rem */
	}
}

/* 																									braille 		*/
@media braille{

/* <h3> ajouté pour la validation W3C mais non affiché, sauf dans le cas du braille */
	.cIntro h3, .cVignettes h3 {
		display: unset;	/* page index : état actuel d'ouverture ... et services proposés ... */
	}
}
