/* Police importée de Google fonts */
/* (positionner cet import sur la 1ère ligne du fichier CSS, sinon ça peut bugger) */

/* => cela implique d'inclure ce fichier CSS avant l'autre fichier CSS                              + + + + +    */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Tangerine:700');

    /* Il faut toujours définir une police 'générique' de secours: */
    /* les polices génériques sont :                               */
    /* serif, sans-serif, monospace, cursive, fantasy et system-ui */
    /* (disponibles sur n'importe quelle machine)                  */
    /*                                                             */
    /* Voilà donc ce qui sera utilisé dans ce projet :             */
    /*  font-family: 'Tangerine', fantasy;   pour l'image de fond  */
    /*  font-family: 'Raleway', fantasy;     pour tout le reste    */
    /*                                                             */
    /*  penser à modifier si besoin l'épaisseur des polices :      */
    /*  ie pas de bold mais du 700 (ou autre) ...                  */





/* fond de la page                                 (body)               :  #D8D8D8  gris clair                   */
/*  + fond du bandeau en cas de chargement lent    (header section)                                              */

/* fond de la zone du site                         (main)               :  white    blanc                        */

/* textes dans le bandeau du haut (titres + tel)                        :  #364115  vert foncé                   */
/*  + lignes fines dans les formulaires                                                                          */
/*  + lignes gammes de produits                                                                                  */

/* menu de navigation, fond                                             :  #ADADAD  gris clair                   */
/* menu de navigation, textes                                           :  #DEFFC4  vert pâle                    */

/* bandeau de connexion, fond                                           :  #575757  gris foncé 1                 */
/* bandeau de connexion, textes                                         :  white    blanc                        */

/* vignettes accueil, fond                         (accueil)            :  #DEFFC4  vert pâle                    */
/* vignettes accueil, textes                       (accueil)            :  #575757  gris foncé 1                 */
/* pharma ouverte                                  (accueil)            :  #4DBC1C  vert 'fluo'                  */
/* pharma fermée                                   (accueil)            :  #FF4141  rouge                        */
/* pharma ouvre dans ...                           (accueil)            :  black    noir                         */
/* pharma ferme dans ...                           (accueil)            :  #FF4141  rouge      (#F29200  orange) */

/* bouton de validation, fond                                           :  #A55AA5  mauve pâle                   */
/*  + tous les liens 'normaux' du site                                                                           */
/*      - tel + mail                               (contact)                                                     */
/*      - inscription                              (connexion)                                                   */
/*      - connexion                                (inscription)                                                 */
/*      - mode d'emploi                            (prepaOrdo)                                                   */
/*      - organismes partenaires                   (menleg)                                                      */
/* bouton de validation, hover                                          :  #585858  gris foncé 2                 */
/*  + hover sur tous les liens 'normaux' du site                                                                 */

/* heure actuelle                                  (horaires)           :  #1967E5  bleu roi       old fuschia   */
/*  + créneau actuel, texte                        (horaires)                                                    */
/*  + trait vertical heure actuelle                (horaires)                                                    */
/* créneaux ouverture, fond                        (horaires)           :  rgba(148, 193, 29, .2)                */
/* créneau actuel ouverture, fond                  (horaires)           :  rgba(148, 193, 29, .5)                */

/* § alternés                                                                                                    */
/*      - 1 produit sur 2                          (gammesProduits)     :  #F8F8F8  gris très clair              */
/*      - titres h4                                (menleg)             :  #E7FBE1  vert très clair              */


/* NB : pour les liens, il faut respecter cet ordre de déclaration :           */
/*                  link > visited > hover > focus > active                    */
/*      (pour que visited n'écrase pas hover, et que la navigation             */
/*       au clavier se passe bien sous IE : hover > focus > active)            */

/* par défaut on force tous les liens en black */
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: #D8D8D8;

    /* ligne associée à l'import de la police Google fonts */
    font-family: 'Raleway', fantasy;
}
main{
    background-color: white;
}

/* pour souligner le mot du menu de nav. correspondant à la page courante */
#iPageCourante{
    font-weight: 700;
    text-decoration: underline;
}

/* affichés ou pas (validation W3C / braille), les titres */
/* de toutes les sections sont, par défaut, en gras       */
.cSectionContour h3{
    font-weight: 700;
}
/* exceptions pour index et footer */
#iIndex h3, footer h3{
    font-weight: 400;
}

/***************************************************************************************************************************************/
/*********************************                    tous les liens 'normaux' du site                **********************************/
/*********************************      pages connexion, inscription, contact, prepaOrdo, menleg      **********************************/
/***************************************************************************************************************************************/
#iConnexionInscription a, #iInscription a, #iContactTel a, #iContactMail a, #iOrdoLienModeEmploi a, #iMentionsLegales a, #iHumour a{
    color: #A55AA5;
    text-decoration: underline;
}
/* hover des liens précédents */
#iConnexionInscription a:hover, #iInscription a:hover, #iContactTel a:hover, #iContactMail a:hover, #iOrdoLienModeEmploi a:hover, #iMentionsLegales a:hover, #iHumour a:hover{
    color: #585858;
    font-weight: 700;
}

/***************************************************************************************************************************************/
/***********************************                           5 formulaires                         ***********************************/
/***********************************     contact, connexion, inscription, ordonnance et commande     ***********************************/
/***************************************************************************************************************************************/
#iContactCoordonnees:before, #iContactPlan:before, #iContactFormulaire:before, #iConnexionInscription:before{
    background-color: #364115; /* petit trait horizontal entre les § */
}
.cChampForm{
    border-top: .1rem solid #364115; /* lignes fines entre les champs */
}
/* Visiblement, le font-family du body n'est pas pris en compte dans le textarea, */
/* on les redéfinit donc plus spécifiquement ici :                                */
.cChampForm input, .cChampForm textarea{
    font-family: fantasy;
}
sub{
    color: red; /* mess. d'erreurs */
}
.cBoutonOk button{
    background-color: #A55AA5; /* déco du bouton de validation */
    color: white;
    font-weight: 400;
}
.cBoutonOk button:hover{
    background-color: #585858;
}

/***************************************************************************************************************************************/
/***************************************************         bandeau du haut         ***************************************************/
/***************************************************************************************************************************************/
header section{
    background-color: #D8D8D8; /* dans le cas où l'image ne peut être chargée, ça fait un fond par défaut */
}
h1, h2, #iTelBandeau, #iTelBandeau a{
    font-family: 'Tangerine', fantasy; /* titre + sous-titre + tel */
    color: #364115;                    /* (police différente uniquement pour le bandeau du haut) */
    font-weight: 700;
}

/***********************************************************************************************/
/********************************       menu de navigation       *******************************/
/***********************************************************************************************/
nav#iNavigation{
    background-color: #ADADAD;
}
nav#iNavigation a{
    color: #DEFFC4;
}
#iNavigation li{
    font-weight: 400;
}

/***********************************************************************************************/
/**********************                bandeau de connexion               **********************/
/***********************************************************************************************/
#iBandeauConnex{
    background-color: #575757; /* bandeau de connexion */
    color: white; /* nom de la personne connectée */
}
#iLienConnex a{
    color: white; /* connexion / déconnexion */
}

/***************************************************************************************************************************************/
/****************************************************           page index          ****************************************************/
/***************************************************************************************************************************************/
<<<<<<< HEAD
/* Les <span> sont ajoutés dans la fonction 'ouverturePharmacie' et */
/* contiennent les class utilisées ci-dessous (cOuverte, ...)       */
#iIndexIntro span{
||||||| merged common ancestors
/* Les <strong> sont ajoutés dans la fonction 'ouverturePharmacie' et */
/* contiennent les class utilisées ci-dessous (cOuverte, ...)         */
#iIndexIntro strong{
=======
/* Les <span> sont ajoutés dans la fonction 'ouverturePharmacie' et */
/* contiennent les class utilisées ci-dessous (cOuverte, ...)       */
#iIndex span{
>>>>>>> dev
    font-weight: 700;
}
#iIndex .cOuverte{
    color: #4DBC1C;
}
#iIndex .cFermee{
    color: #FF4141;
}
#iIndex .cOuvreDans{
    color: black;
}
#iIndex .cFermeDans{
    color: #FF4141;
}
#iIndex article a{
    background-color: #DEFFC4;
    color: #575757;
    font-weight: 700;
}

/***************************************************************************************************************************************/
/***************************************************          page horaires          ***************************************************/
/***************************************************************************************************************************************/
.cHeureDuJour{
    color: #1967E5; /* l'heure qu'il est */
}
.cSemaine h4, .cSamedi h4{
    font-weight: 400;  /* nom des jours (h4) en 'normal' */
}
/* - couleur de fond par défaut des créneaux horaires d'ouverture */
/* - et couleur de fond d'un créneau écoulé du jour en cours      */
#iHorairesTableau article div, #iHorairesTableau #iAujourdhui .cCreneauOff{         /*  Attention: il y a d'autres instructions pour #iAujourdhui .cCreneauOff  */
    background-color: rgba(148, 193, 29, .2);
}
/* la ligne 'aujourd'hui' est mise en valeur => couleur de fond un peu plus soutenue et police différente  */
#iHorairesTableau #iAujourdhui div, #iHorairesTableau #iAujourdhui h4{
    background-color: rgba(148, 193, 29, .5);
    font-weight: 700;
    color: #1967E5;
}
/* on ne veut pas mettre le jour actuel et le tiret en fond vert */
.cSemaine h4, .cSamedi h4, .cSemaine .cTiret,
#iHorairesTableau #iAujourdhui h4, #iHorairesTableau #iAujourdhui .cTiret{
    background-color: white;
    color: black;
}
/* et le tiret reste en normal */
#iHorairesTableau #iAujourdhui .cTiret{
    font-weight: normal;
}
/* pour finir de désactiver un créneau passé du jour actuel */
/* on a déjà mis la couleur de fond un peu plus haut        */
#iHorairesTableau #iAujourdhui .cCreneauOff{
    color: black;
    font-weight: normal;
}
/* trait vertical représentant l'heure **********************************************************************************/
#iHorairesTableau #iAujourdhui #iTraitHoraire{
    background-color: rgba(255, 255, 255, 0); /* en fait, seul importe le 0 final, ie 'transparence totale'. */
    /* NB: j'avais testé 'opacity: 0;' => mais TOUT disaparaît, y compris la border */

    border-left: solid #1967E5 2px;
}
#iHorairesTableau #iAujourdhui .cEffacerTrait, #iHorairesTableau article .cEffacerTrait{
    background-color: rgba(255, 255, 255, 0); /* en fait, seul importe le 0 final, cf NB ci-dessus */
}

/* largeurs et marges des jours et des créneaux horaires ****************************************************************/
#iHorairesTableau article h4, #iHorairesTableau .cSemaine .cTiret, #iHorairesTableau .cSamedi h4{
    background-color: white; /* jours de la semaine, tiret du midi, samedi */
}

/***************************************************************************************************************************************/
/************************************                 pages contact + pharma de garde                ***********************************/
/***************************************************************************************************************************************/
/* on met qqs mots en gras :                               */
/* contact         : n° du bus, nom de l'arrêt, ...        */
/* pharma de garde : horaires, pièces à présenter, ...     */
#iContactInfosPratiques span, #iPdGplan span{
    font-weight: 700;
}

/***************************************************************************************************************************************/
/**************************************                  page prepaOrdonnance                     **************************************/
/***************************************************************************************************************************************/
.cCouleurRouge{
    color: red; /* N'oubliez pas l'original de l'ordonnance ... */
    font-weight: 700;
}
#iOrdoModeEmploi{
    background-color: #5B5B5B; /*  § Mode d'emploi  */
    color: white;
}
#iOrdoModeEmploi span{
    font-weight: 700; /* les 4 étapes du mode d'emploi en gras */
    text-decoration: underline;
}
#iOrdoModeEmploi ul li p:nth-of-type(2){
    color: orange;       /* message pour l'accès impossible aux */
    font-weight: 700;    /* fichiers sur certains smartphones   */
}

/***************************************************************************************************************************************/
/*********************************************          page gammes de produits          ***********************************************/
/***************************************************************************************************************************************/
#iGammesProd article h4{
    color: #364115;               /* titres placés sur les images */
}
#iGammesProd article div:nth-child(2n+1){
    background-color: #F8F8F8;    /* alternance de gris et de blanc entre les différents produits d'un même § */
}
#iGammesProd article .cImageDeco{
    border: 0.3rem solid #364115; /* bordure de l'image */
}

/***************************************************************************************************************************************/
/************************************************        page mentions légales        **************************************************/
/***************************************************************************************************************************************/
#iMentionsLegales h4{
    background-color: #E7FBE1; /* fond du § titre */
}
#iMentionsLegales .gauche{
    font-weight: 700;          /* mots de la colonne de gauche */
}


/***************************************************************************************************************************************/
/****************************************************             Footer            ****************************************************/
/***************************************************************************************************************************************/
footer section:first-of-type{
    background-color: white; /* footer 1ère section : Mentions légales */
}
footer section:last-of-type{
    background-color: #575757; /* footer 2ème section : Editeur du site */
    color: white;
}
